# Created by .ignore support plugin (hsz.mobi)

**/out/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.idea/
/src/test/
**/target/
**/build
web/src/main/resources/static/assets/js/
web/src/main/resources/static/assets/css/
web/src/main/resources/static/vendor/

**/*.iml
**/dependency-reduced-pom.xml
**/META-INF/
/node_modules/
/.docker/
/.gradle/

**/.DS_STORE
