<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

	<!--Meta Stuffs-->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="The Ultimate Discord Calendar Bot">

	<meta property="og:title" content="DisCal"/>
	<meta property="og:url" content="https://www.discalbot.com"/>
	<meta property="og:description" content="The Ultimate Discord Calendar Bot"/>
	<meta property="og:image" content="/assets/images/logos/Dark/Opaque/Logo%20Dark%20+bg.png">

	<!-- ****** faviconit.com favicons ****** -->
	<link rel="shortcut icon" href="/assets/img/favicon/favicon.ico">
	<link rel="icon" sizes="16x16 32x32 64x64" href="/assets/img/favicon.ico">
	<link rel="icon" type="image/png" sizes="196x196" href="/assets/img/favicon/favicon-192.png">
	<link rel="icon" type="image/png" sizes="160x160" href="/assets/img/favicon/favicon-160.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/assets/img/favicon/favicon-96.png">
	<link rel="icon" type="image/png" sizes="64x64" href="/assets/img/favicon/favicon-64.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/favicon-32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16.png">
	<link rel="apple-touch-icon" href="/assets/img/favicon/favicon-57.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/assets/img/favicon/favicon-114.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/assets/img/favicon/favicon-72.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/assets/img/favicon/favicon-144.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/assets/img/favicon/favicon-60.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/assets/img/favicon/favicon-120.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/assets/img/favicon/favicon-76.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/assets/img/favicon/favicon-152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicon/favicon-180.png">
	<meta name="msapplication-TileColor" content="#FFFFFF">
	<meta name="msapplication-TileImage" content="/assets/img/favicon/favicon-144.png">
	<meta name="msapplication-config" content="/assets/img/favicon/browserconfig.xml">
	<!-- ****** faviconit.com favicons ****** -->

	<title>DisCal - Terms Of Service</title>

	<!-- Custom fonts for this template-->
	<link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
	<link
		href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
		rel="stylesheet">

	<!-- Custom styles for this template-->
	<link href="/assets/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

	<!-- Sidebar -->
	<ul class="navbar-nav bg-gradient-discal-dark-gray sidebar sidebar-dark accordion"
		id="accordionSidebar">

		<!-- Sidebar - Brand -->
		<a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
			<div class="sidebar-brand-icon rotate-n-15">
				<i class="fas fa-calendar"></i>
			</div>
			<div class="sidebar-brand-text mx-3">DISCAL</div>
		</a>

		<!-- Divider -->
		<hr class="sidebar-divider my-0">

		<!-- Nav Item - About -->
		<li class="nav-item">
			<a class="nav-link" href="/about">
				<i class="fas fa-fw fa-info-circle"></i>
				<span>About</span></a>
		</li>

		<!-- Nav Item - Commands -->
		<li class="nav-item">
			<a class="nav-link" href="/commands">
				<i class="fas fa-fw fa-terminal"></i>
				<span>Commands</span></a>
		</li>

		<!-- Nav Item - Setup -->
		<li class="nav-item">
			<a class="nav-link" href="/setup">
				<i class="fas fa-fw fa-cog"></i>
				<span>Setup</span></a>
		</li>

		<!-- Nav Item - Lazy DisCal -->
		<li class="nav-item">
			<a class="nav-link" href="/lazy-discal">
				<i class="fas fa-fw fa-magic"></i>
				<span>Lazy DisCal</span></a>
		</li>

		<!-- Nav Item - Status -->
		<li class="nav-item">
			<a class="nav-link" href="/status">
				<i class="fas fa-fw fa-info-circle"></i>
				<span>Status</span></a>
		</li>

		<!-- Nav Item - Dashboard -->
		<li class="nav-item">
			<a class="nav-link" href="/dashboard">
				<i class="fas fa-fw fa-tachometer-alt"></i>
				<span>Dashboard</span></a>
		</li>

		<!-- Divider -->
		<hr class="sidebar-divider">

		<!-- Guilds list (only displayed if logged in) -->
		<div th:if="${logged_in}">
			<!-- Heading     -->
			<div class="sidebar-heading">
				Guilds
			</div>

			<!-- Start Nav Item - Guild Container -->
			<th:block th:each="guild : ${guilds}">
				<div class="nav-item">
					<a class="nav-link" th:href="'/dashboard/' + ${guild.id}">
						<i class="fas fa-fw fa-chart-area"></i>
						<span th:text="${guild.name}"></span>
					</a>
				</div>
			</th:block>
			<!-- End Nav Item - Guild Container -->

			<!-- Divider -->
			<hr class="sidebar-divider d-none d-md-block">
		</div>
		<!-- End Guilds list -->

		<!-- Sidebar Toggler (Sidebar) -->
		<div class="text-center d-none d-md-inline">
			<button class="rounded-circle border-0" id="sidebarToggle"></button>
		</div>

	</ul>
	<!-- End of Sidebar -->

	<!-- Content Wrapper -->
	<div id="content-wrapper" class="d-flex flex-column bg-discal-not-black">

		<!-- Main Content -->
		<div id="content">

			<!-- Topbar -->
			<nav
				class="navbar navbar-expand navbar-dark bg-discal-blue topbar mb-4 static-top shadow">

				<!-- Sidebar Toggle (Topbar) -->
				<button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
					<i class="fa fa-bars text-discord-full-white"></i>
				</button>

				<!-- Topbar Navbar -->
				<ul class="navbar-nav ml-auto">

					<!-- Nav Item - Support Link -->
					<li class="nav-item">
						<a class="nav-link text-discord-full-white" th:href="${support_invite}"
						   target="_blank">
							<i class="fas fa-question-circle fa-sm fa-fw mr-2"></i>
							Support
						</a>
					</li>

					<!-- Nav Item - Patreon Link -->
					<li class="nav-item">
						<a class="nav-link text-discord-full-white"
						   href="https://www.patreon.com/Novafox" target="_blank">
							<i class="fab fa-patreon fa-sm fa-fw mr-2"></i>
							Patreon
						</a>
					</li>

					<!-- Nav Item - Invite Link -->
					<li class="nav-item">
						<a class="nav-link text-discord-full-white" th:href="${bot_invite}"
						   target="_blank">
							<i class="fas fa-envelope-open-text fa-sm fa-fw mr-2"></i>
							Invite
						</a>
					</li>

					<div class="topbar-divider d-none d-sm-block"></div>

					<!-- Nav Item - User Information -->
					<li th:if="${logged_in}" class="nav-item dropdown no-arrow">
						<a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
						   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<span class="mr-2 d-lg-inline  small" th:text="${username}"></span>
							<img class="img-profile rounded-circle" th:src="${pfp}"
								 alt="pfp">
						</a>
						<!-- Dropdown - User Information -->
						<div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
							 aria-labelledby="userDropdown">
							<a class="dropdown-item text-discord-full-white" href="#"
							   data-toggle="modal" data-target="#logoutModal">
								<i class="fas fa-sign-out-alt fa-sm fa-fw mr-2"></i>
								Logout
							</a>
						</div>
					</li>
					<li th:unless="${logged_in}" class="nav-item">
						<a class="nav-link text-discord-full-white" href="/login">
							<i class="fas fa-sign-in-alt fa-sm fa-fw mr-2"></i>
							Login
						</a>
					</li>

				</ul>

			</nav>
			<!-- End of Topbar -->

			<!-- Begin Page Content -->
			<div class="container-fluid">
				<h1 class="text-center text-discal-blue">Terms of Service</h1>

				<p class="text-left text-discord-full-white">
					DisCal's development team and parent, DreamExposure, puts user privacy, safety,
					and comfort above all else.
					<br>
					In using DisCal, directly or indirectly, the user agrees to the following
					points.
				</p>

				<h3 class="text-center text-discal-blue">Definitions</h3>

				<p class="text-left text-discord-full-white">
					"Users" refers to any individual that directly utilizes DisCal. Either via the
					official website, https://www.discalbot.com, command interaction with DisCal via
					Discord, and/or any form of communication whereas the user talks/texts to the
					DisCal bot.
					<br>
					"Us/We" refers to DreamExposure, the group that develops and maintains DisCal.
					DreamExposure is comprised of multiple members who program the bot, aid users
					with support and help in regards to the DisCal bot and/or DisCal website
					<br>
					"Data" refers to any user entered information provided to DisCal.
					This information includes dates/times, timezones, locations, event details,
					Discord user information, and other public data.
				</p>

				<h3 class="text-center text-discal-blue">Agreements</h3>

				<p class="text-left text-discord-full-white">
					We prioritize privacy and security, therefore the servers and systems that
					DreamExposure manages relating to DisCal are kept encrypted behind firewalls.
					Regular virus scans are conducted to ensure the system is not compromised.
					<br>
					Data entered into the DisCal system is kept on an encrypted drive.
					This data is not accessible by anyone but the user directly entering the
					information, and the users in the Discord Server that the user is in.
					<br>
					Users, whether using DisCal directly or indirectly will not attempt to bypass or
					otherwise compromise DreamExposure's servers, systems, or products. Any attempt
					to render DreamExposure undue harm can result in legal action.
					<br>
					DisCal provides the ability to attach images to calendar events.
					These images are not stored or hosted on DreamExposure systems. DreamExposure is
					not liable and does not allow for any illegal content submitted by the user,
					including but not limited to proof of drug use, child pornography, etc. Should
					DreamExposure find this content, the user will can and will be reported to the
					appropriate authorities.
					<br>
					Users are directly liable, legal or otherwise, for all content and data entered
					into DisCal.
					<br>
					DisCal utilizes the Google Calendar APIs and Discord APIs. DisCal is simply a
					bridge between the two. By using DisCal the user also agrees to the Google
					Terms or Service and Discord Terms of Service.
					<br>
					DreamExposure reserves the right to revoke access to DisCal if a user attempts
					to break the above Terms of Service.
				</p>

				<br>
				<br>
				<br>

				<p class="text-left text-discord-full-white">
					Last edited: August 29, 2018.
				</p>
			</div>
			<!-- /.container-fluid -->

		</div>
		<!-- End of Main Content -->

		<!-- Footer -->
		<footer class="sticky-footer bg-discal-blue">
			<div class="container my-auto">
				<div class="copyright text-center text-discord-full-white my-auto">
					<span th:text="'&copy; DreamExposure ' + ${year} + '. LGPL-3.'"></span>
				</div>
			</div>
		</footer>
		<!-- End of Footer -->

	</div>
	<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
	<i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog"
	 aria-labelledby="exampleModalLabel"
	 aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
				<button class="close" type="button" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body">Select "Logout" below if you are ready to end your current
				session.
			</div>
			<div class="modal-footer">
				<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
				<a class="btn btn-primary" href="/logout">Logout</a>
			</div>
		</div>
	</div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/assets/js/sb-admin-2.min.js"></script>

</body>

</html>
