// Pulling these images from Unsplash

.bg-login-image {
  background: url('https://images.unsplash.com/photo-1483000805330-4eaf0a0d82da') center;
  background-size: cover;
}

form.user {

  .custom-checkbox.small {
    label {
      line-height: 1.5rem;
    }
  }

  .form-control-user {
    font-size: 0.8rem;
    border-radius: 10rem;
    padding: 1.5rem 1rem;
  }

  .btn-user {
    font-size: 0.8rem;
    border-radius: 10rem;
    padding: 0.75rem 1rem;
  }

}

.btn-google {
  @include button-variant($brand-google, $white);
}

.btn-facebook {
  @include button-variant($brand-facebook, $white);
}

.btn-discord {
  @include button-variant($brand-discord, $white);
}
