<!DOCTYPE html>
<!--suppress HtmlUnknownTarget -->
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<!--Meta stuffs-->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="DisCal is a bot that implements Google Calendar seamlessly into Discord">
		<meta property="og:title" content="DisCal Bot"/>
		<meta property="og:url" content="https://discalbot.com"/>
		<meta property="og:description"
		      content="DisCal is a bot that implements Google Calendar seamlessly into Discord"/>
		<!--meta property="og:image" content="I WILL PUT THE LOGO IN WHEN I MAKE IT SMALL"/-->
		<title>Commands - DisCal</title>

		<!--Locally hosted-->
		<link href="/styles/global.css" rel="stylesheet">
		<link href="/styles/docs.css" rel="stylesheet">
	</head>

	<body>
		<div class="top-nav">
			<a href="/" class="title"><h1>DISCAL</h1></a>
			<a href="/about">About</a>
			<a class="active" href="/commands">Commands</a>
			<a href="/setup">Setup</a>
			<a href="/lazy-discal">Lazy DisCal</a>
			<a href="/dashboard">Dashboard</a>
			<a href="https://discord.gg/AmAMGeN" target="_blank">Support</a>
			<a href="https://www.patreon.com/Novafox" target="_blank">Patreon</a>

			<a class="account" th:if="${loggedIn}" href="/account/logout">Log out</a>
			<a class="account" th:unless="${loggedIn}"
			   th:href="'https://discordapp.com/oauth2/authorize?client_id=' + ${client} + '&scope=guilds+identify&permissions=0&response_type=code&redirect_uri=' + ${redirUri}">Log
				In</a>
		</div>

		<div id="content">
			<h1>DisCal Bot - About</h1>
			<p>
				Below is full documentation on DisCal commands.
				<br> <br> <br>
				This documentation includes the command, acceptable arguments, an example, and an explanation for each
				and every command DisCal has to offer.
				<br> <br>
				Since many commands have sub-commands and functions, this page will be split into sections for each.
				<br>
				<br>
				<br>
				<strong>[] = required</strong>
				<br>
				<strong>() = optional</strong>
			</p>

			<hr>
			<div class="image-wrapper" style="max-width: 900px; position: center;">
				<img src="/assets/images/examples/event_demo.gif"
				     style="max-width: 300px; max-height: 300px; padding: 10px;">
				<img src="/assets/images/examples/calendar_demo.gif"
				     style="max-width: 300px; max-height: 300px; padding: 10px;">
				<img src="/assets/images/examples/announcement_demo.gif"
				     style="max-width: 300px; max-height: 300px; padding: 10px;">
			</div>

			<hr>

			<div id="calendar">
				<h2>!calendar commands</h2>
				<h3>Alias: !cal</h3>

				<table style="border-color: #ef0813;" border="#ef0813" cellspacing="0" cellpadding="4">
					<tbody>
					<tr>
						<th>Command</th>
						<th>Acceptable Arguments</th>
						<th>Example</th>
						<th>Description</th>
					</tr>
					<tr>
						<td>!cal create</td>
						<td>!cal create [name w/ spaces]</td>
						<td>!cal create cool calendar</td>
						<td>Starts the calendar creator</td>
					</tr>
					<tr>
						<td>!cal summary</td>
						<td>!cal summary [summary w/ spaces]</td>
						<td>!cal summary cool calendar</td>
						<td>Sets the calendar's name/summary</td>
					</tr>
					<tr>
						<td>!cal name</td>
						<td>!cal name [name w/ spaces]</td>
						<td>!cal name cool calendar</td>
						<td>Sets the calendar's name/summary</td>
					</tr>
					<tr>
						<td>!cal description</td>
						<td>!cal description [desc. w/ spaces]</td>
						<td>!cal description my awesome calendar</td>
						<td>Sets the calendar's description</td>
					</tr>
					<tr>
						<td>!cal timezone</td>
						<td>!cal timezone [timezone]</td>
						<td>!cal timezone America/Chicago</td>
						<td>Sets the calendar's timezone.</td>
					</tr>
					<tr>
						<td>!cal view</td>
						<td>!cal view</td>
						<td>!cal view</td>
						<td>Displays the calendar currently in the editor/creator</td>
					</tr>
					<tr>
						<td>!cal review</td>
						<td>!cal review</td>
						<td>!cal review</td>
						<td>Displays the calendar currently in the editor/creator</td>
					</tr>
					<tr>
						<td>!cal confirm</td>
						<td>!cal confirm</td>
						<td>!cal confirm</td>
						<td>Confirms the creation/edits and updates on Google.</td>
					</tr>
					<tr>
						<td>!cal cancel</td>
						<td>!cal cancel</td>
						<td>!cal cancel</td>
						<td>Cancels the creation/edits of a calendar</td>
					</tr>
					<tr>
						<td>!cal delete</td>
						<td>!cal delete</td>
						<td>!cal delete</td>
						<td>Deletes the calendar from your Guild and Google</td>
					</tr>
					<tr>
						<td>!cal remove</td>
						<td>!cal remove</td>
						<td>!cal remove</td>
						<td>Deletes the calendar from your Guild and Google</td>
					</tr>
					</tbody>
				</table>
			</div>

			<hr>

			<div id="event">
				<h2>!event commands</h2>

				<table style="border-color: #ef0813;" border="#ef0813" cellspacing="0" cellpadding="4">
					<tbody>
					<tr>
						<th>Command</th>
						<th>Acceptable Arguments</th>
						<th>Example</th>
						<th>Description</th>
					</tr>
					<tr>
						<td>!event create</td>
						<td>!event create (name w/ spaces)</td>
						<td>!event create my cool event</td>
						<td>Start the event creator</td>
					</tr>
					<tr>
						<td>!event summary</td>
						<td>!event summary [summary w/ spaces]</td>
						<td>!event summary my cool event</td>
						<td>Sets the event name/summary</td>
					</tr>
					<tr>
						<td>!event description</td>
						<td>!event description [desc. w/ spaces]</td>
						<td>!event description This is my super cool event</td>
						<td>Sets the event description</td>
					</tr>
					<tr>
						<td>!event start</td>
						<td>!event start [yyyy/MM/dd-HH:mm:ss]</td>
						<td>!event start 2018/03/21-14:30:00</td>
						<td>Sets the event's start time (in 24 hour format)</td>
					</tr>
					<tr>
						<td>!event end</td>
						<td>!event end [yyyy/MM/dd-HH:mm:ss]</td>
						<td>!event end 2018/03/21-20:00:00</td>
						<td>Sets the event's end time (in 24 hour format)</td>
					</tr>
					<tr>
						<td>!event color</td>
						<td>!event color [color]</td>
						<td>!event color GREEN</td>
						<td>Set's the event's <a href="/docs/events/event-colors">Color</a></td>
					</tr>
					<tr>
						<td>!event location</td>
						<td>!event location [location]</td>
						<td>!event location Room 253</td>
						<td>Sets the event's location</td>
					</tr>
					<tr>
						<td>!event image</td>
						<td>!event image [link]</td>
						<td>!event image <a href="https://life.has-destroyed.me/CoXnNvOVq.jpg">https://life.has-destroyed.me/CoXnNvOVq.jpg</a>
						</td>
						<td>Sets the event's image. Must be a valid link to image directly. NO GIFS!</td>
					</tr>
					<tr>
						<td>!event confirm</td>
						<td>!event confirm</td>
						<td>!event confirm</td>
						<td>Confirms the event's creation/edit.</td>
					</tr>
					<tr>
						<td>!event review</td>
						<td>!event review</td>
						<td>!event review</td>
						<td>Displays the event currently in the creator/editor</td>
					</tr>
					<tr>
						<td>!event confirm</td>
						<td>!event confirm</td>
						<td>!event confirm</td>
						<td>Confirms the event's creation/edit.</td>
					</tr>
					<tr>
						<td>!event cancel</td>
						<td>!event cancel</td>
						<td>!event cancel</td>
						<td>Cancels the event creation/edits.</td>
					</tr>
					<tr>
						<td>!event recur</td>
						<td>!event recur [true/false]</td>
						<td>!event recur true</td>
						<td>Set's whether or not the event will recur</td>
					</tr>
					<tr>
						<td>!event freq</td>
						<td>!event freq [frequency]</td>
						<td>!event freq DAILY</td>
						<td>Set's the event recurrence frequency to DAILY. Valid options: DAILY, WEEKLY, MONTHLY,
							YEARLY
						</td>
					</tr>
					<tr>
						<td>!event count</td>
						<td>!event count [count]</td>
						<td>!event count -1</td>
						<td>Sets how many times the event will recur. (Use 0 or -1 for infinite)</td>
					</tr>
					<tr>
						<td>!event interval</td>
						<td>!event interval [interval]</td>
						<td>!event interval 2</td>
						<td>Sets the recurrence interval. 1 is every time (according to frequency), 2 means every other
							time, etc etc
						</td>
					</tr>
					<tr>
						<td>!event edit</td>
						<td>!event edit [event ID]</td>
						<td>!event edit eihctjdgmf</td>
						<td>Starts the event editor for the specified event</td>
					</tr>
					<tr>
						<td>!event copy</td>
						<td>!event copy [event ID]</td>
						<td>!event copy eihctjdgmf</td>
						<td>Copies the specified event details into a new event creator</td>
					</tr>
					<tr>
						<td>!event view</td>
						<td>!event view [event ID]</td>
						<td>!event view eihctjdgmf</td>
						<td>Displays the specified event's details.</td>
					</tr>
					<tr>
						<td>!event delete</td>
						<td>!event delete [event ID]</td>
						<td>!event delete eihctjdgmf</td>
						<td>Deletes the specified event</td>
					</tr>
					<tr>
						<td>!event remove</td>
						<td>!event remove [event ID]</td>
						<td>!event remove eihctjdgmf</td>
						<td>Deletes the specified event</td>
					</tr>
					</tbody>
				</table>
			</div>

			<hr>

			<div id="rsvp">
				<h2>!rsvp commands</h2>

				<table style="border-color: #ef0813;" border="#ef0813" cellspacing="0" cellpadding="4">
					<tbody>
					<tr>
						<th>Command</th>
						<th>Acceptable Arguments</th>
						<th>Example</th>
						<th>Description</th>
					</tr>
					<tr>
						<td>!rsvp ontime</td>
						<td>!rsvp ontime [Event ID]</td>
						<td>!rsvp ontime eihctjdgmf</td>
						<td>RSVPs as going to the event on time.</td>
					</tr>
					<tr>
						<td>!rsvp late</td>
						<td>!rsvp late [Event ID]</td>
						<td>!rsvp late eihctjdgmf</td>
						<td>RSVPs as going to the event, but arriving late.</td>
					</tr>
					<tr>
						<td>!rsvp not</td>
						<td>!rsvp not [Event ID]</td>
						<td>!rsvp not eihctjdgmf</td>
						<td>RSVPs as not going to the event.</td>
					</tr>
					<tr>
						<td>!rsvp unsure</td>
						<td>!rsvp unsure [Event ID]</td>
						<td>!rsvp unsure eihctjdgmf</td>
						<td>RSVPs as unsure about whether or not you will attend.
						</td>
					</tr>
					<tr>
						<td>!rsvp remove</td>
						<td>!rsvp remove [Event ID]</td>
						<td>!rsvp remove eihctjdgmf</td>
						<td>Removes your RSVP status from the event.</td>
					</tr>
					<tr>
						<td>!rsvp list</td>
						<td>!rsvp list [Event ID]</td>
						<td>!rsvp list eihctjdgmf</td>
						<td>Lists the users who have RSVPed to the event.</td>
					</tr>
					</tbody>
				</table>
			</div>

			<hr>

			<div id="announcement">
				<h2>!announcement commands</h2>
				<h3>Aliases: !a !ann !announce !alert !alerts</h3>

				<table style="border-color: #ef0813;" border="#ef0813" cellspacing="0" cellpadding="4">
					<tbody>
					<tr>
						<th>Command</th>
						<th>Acceptable Arguments</th>
						<th>Example</th>
						<th>Description</th>
					</tr>
					<tr>
						<td>!a create</td>
						<td>!a create</td>
						<td>!a create</td>
						<td>Starts the announcement creator</td>
					</tr>
					<tr>
						<td>!a type</td>
						<td>!a type [type]</td>
						<td>!a type UNIVERSAL</td>
						<td>Sets the announcement type. Valid types: UNIVERSAL, SPECIFIC, COLOR, RECUR</td>
					</tr>
					<tr>
						<td>!a event</td>
						<td>!a event [event-id]</td>
						<td>!a event eihctjdgmf</td>
						<td>Sets the announcement's event. <strong>ONLY needed when using SPECIFIC or RECUR</strong>
						</td>
					</tr>
					<tr>
						<td>!a color</td>
						<td>!a color [color]</td>
						<td>!a color BLUE</td>
						<td>Sets the announcement's color <strong>ONLY needed when using COLOR</strong></td>
					</tr>
					<tr>
						<td>!a channel</td>
						<td>!a channel [channel-name]</td>
						<td>!a channel announcements</td>
						<td>Sets the announcement's channel to post in.</td>
					</tr>
					<tr>
						<td>!a minutes</td>
						<td>!a minutes [minutes]</td>
						<td>!a minutes 30</td>
						<td>Sets the minutes before the event to announce. Added to hours</td>
					</tr>
					<tr>
						<td>!a hours</td>
						<td>!a hours [hours]</td>
						<td>!a hours 2</td>
						<td>Sets the hours before the event to announce. Added to minutes</td>
					</tr>
					<tr>
						<td>!a review</td>
						<td>!a review</td>
						<td>!a review</td>
						<td>Displays info about the announcement being edited/created.</td>
					</tr>
					<tr>
						<td>!a confirm</td>
						<td>!a confirm</td>
						<td>!a confirm</td>
						<td>Confirms the creation/edits and updates the database.</td>
					</tr>
					<tr>
						<td>!a edit</td>
						<td>!a edit [announcement-ID]</td>
						<td>!a edit d9b0ab8d-7b1e-4f3f-aaa8-0a8399e3fc8c</td>
						<td>Starts the editor for the specified announcement</td>
					</tr>
					<tr>
						<td>!a copy</td>
						<td>!a copy [announcement-ID]</td>
						<td>!a copy d9b0ab8d-7b1e-4f3f-aaa8-0a8399e3fc8c</td>
						<td>Copies the specified announcement's details to a new announcement</td>
					</tr>
					<tr>
						<td>!a delete</td>
						<td>!a delete [announcement-ID]</td>
						<td>!a delete d9b0ab8d-7b1e-4f3f-aaa8-0a8399e3fc8c</td>
						<td>Deletes the specified announcement</td>
					</tr>
					<tr>
						<td>!a view</td>
						<td>!a view [announcement-ID]</td>
						<td>!a view d9b0ab8d-7b1e-4f3f-aaa8-0a8399e3fc8c</td>
						<td>Displays the specified announcement's details</td>
					</tr>
					<tr>
						<td>!a list</td>
						<td>!a list [Amount or "all"]</td>
						<td>!a list 10</td>
						<td>Lists the specified amount of announcements view quick viewing</td>
					</tr>
					<tr>
						<td>!a sub</td>
						<td>!a sub [announcement-ID] (user(s) and/or role(s))</td>
						<td>!a sub d9b0ab8d-7b1e-4f3f-aaa8-0a8399e3fc8c</td>
						<td>Subscribes yourself OR the specified users/roles to the announcement</td>
					</tr>
					<tr>
						<td>!a unsub</td>
						<td>!a unsub [announcement-ID] (user(s) and/or role(s))</td>
						<td>!a unsub d9b0ab8d-7b1e-4f3f-aaa8-0a8399e3fc8c</td>
						<td>Unsubscribes yourself OR the specified users/roles to the announcement</td>
					</tr>
					</tbody>
				</table>
			</div>

			<hr>

			<div id="discal">
				<h2>!discal commands</h2>

				<table style="border-color: #ef0813;" border="#ef0813" cellspacing="0" cellpadding="4">
					<tbody>
					<tr>
						<th>Command</th>
						<th>Acceptable Arguments</th>
						<th>Example</th>
						<th>Description</th>
					</tr>
					<tr>
						<td>!discal</td>
						<td>!discal</td>
						<td>!discal</td>
						<td>Displays DisCal's bot information</td>
					</tr>
					<tr>
						<td>!discal settings</td>
						<td>!discal settings</td>
						<td>!discal settings</td>
						<td>Displays the guild's settings for DisCal (like prefix)</td>
					</tr>
					<tr>
						<td>!discal prefix</td>
						<td>!discal prefix [prefix]</td>
						<td>!discal prefix $$</td>
						<td>Changes DisCal's prefix. <strong>Mentioning DisCal will always work no matter the
							prefix</strong></td>
					</tr>
					<tr>
						<td>!discal role</td>
						<td>!discal role [role-name]</td>
						<td>!discal role controllers</td>
						<td>Sets the role (or higher) users must have in order to use certain DisCal commands. <strong>Reset
							with "!discal role everyone"</strong></td>
					</tr>
					<tr>
						<td>!discal channel</td>
						<td>!discal channel [channel-name]</td>
						<td>!discal channel discal-control</td>
						<td>Sets the channel DisCal can respond in. <strong>Reset with "!discal channel all"</strong>
						</td>
					</tr>
					<tr>
						<td>!discal simpleAnnouncement</td>
						<td>!discal simpleAnnouncement</td>
						<td>!discal simpleAnnouncement</td>
						<td>Makes announcements appear more user friendly</td>
					</tr>
					<tr>
						<td>!discal brand</td>
						<td>!discal brand</td>
						<td>!discal brand</td>
						<td>Uses the guild's name in DisCal embeds. <strong>Patron only!</strong></td>
					</tr>
					<tr>
						<td>!discal lang</td>
						<td>!discal lang [language]</td>
						<td>!discal lang english</td>
						<td>Set's DisCal's language</td>
					</tr>
					<tr>
						<td>!discal invite</td>
						<td>!discal invite</td>
						<td>!discal invite</td>
						<td>Displays the invite link to DisCal's Support Guild.</td>
					</tr>
					<tr>
						<td>!discal dashboard</td>
						<td>!discal dashboard</td>
						<td>!discal dashboard</td>
						<td>Displays the link to the Control dashboard on DisCal's website.</td>
					</tr>
					</tbody>
				</table>
			</div>

			<hr>

			<div id="other">
				<h2>All Other Commands</h2>

				<table style="border-color: #ef0813;" border="#ef0813" cellspacing="0" cellpadding="4">
					<tbody>
					<tr>
						<th>Command</th>
						<th>Acceptable Arguments</th>
						<th>Example</th>
						<th>Description</th>
					</tr>
					<tr>
						<td>!linkCal</td>
						<td>!linkCal</td>
						<td>!linkCal</td>
						<td>Displays the server's calendar info AND provides a link to view in browser</td>
					</tr>
					<tr>
						<td>!time</td>
						<td>!time</td>
						<td>!time</td>
						<td>Displays the current time of the calendar in the calendar's timezone</td>
					</tr>
					<tr>
						<td>!events</td>
						<td>!events (amount)</td>
						<td>!events 2</td>
						<td>Displays up to the specified amount of upcoming events</td>
					</tr>
					<tr>
						<td>!help</td>
						<td>!help (command) (sub-command)</td>
						<td>!help event create</td>
						<td>Displays help information for the specified commands/sub commands</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>

	</body>

	<footer id="footer">
		<p><span th:text="'© Nova Maday ' + ${year} + ' All rights reserved.'"></span><span> - </span><a
				href="/policy/privacy">Privacy
			Policy</a><span> - </span><a href="/docs/api/overview">Developer API</a></p>
	</footer>
</html>