<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <!--Meta Stuffs-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="The Ultimate Discord Calendar Bot">

	<meta property="og:title" content="DisCal"/>
	<meta property="og:url" content="https://www.discalbot.com"/>
	<meta property="og:description" content="The Ultimate Discord Calendar Bot"/>
	<meta property="og:image" content="/assets/images/logos/Dark/Opaque/Logo%20Dark%20+bg.png">

	<!-- ****** faviconit.com favicons ****** -->
	<link rel="shortcut icon" href="/assets/img/favicon/favicon.ico">
	<link rel="icon" sizes="16x16 32x32 64x64" href="/assets/img/favicon.ico">
	<link rel="icon" type="image/png" sizes="196x196" href="/assets/img/favicon/favicon-192.png">
	<link rel="icon" type="image/png" sizes="160x160" href="/assets/img/favicon/favicon-160.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/assets/img/favicon/favicon-96.png">
	<link rel="icon" type="image/png" sizes="64x64" href="/assets/img/favicon/favicon-64.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/favicon-32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16.png">
	<link rel="apple-touch-icon" href="/assets/img/favicon/favicon-57.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/assets/img/favicon/favicon-114.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/assets/img/favicon/favicon-72.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/assets/img/favicon/favicon-144.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/assets/img/favicon/favicon-60.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/assets/img/favicon/favicon-120.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/assets/img/favicon/favicon-76.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/assets/img/favicon/favicon-152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicon/favicon-180.png">
	<meta name="msapplication-TileColor" content="#FFFFFF">
	<meta name="msapplication-TileImage" content="/assets/img/favicon/favicon-144.png">
	<meta name="msapplication-config" content="/assets/img/favicon/browserconfig.xml">
	<!-- ****** faviconit.com favicons ****** -->

    <title>DisCal - Login</title>

    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/assets/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                                </div>
                                <hr>
                                <form class="user">
                                    <a th:href="'https://discordapp.com/oauth2/authorize?client_id=' +
                                     ${bot_id} +
                                     '&scope=guilds+identify&permissions=0&response_type=code&redirect_uri=' +
                                     ${redirect_uri}" class="btn btn-discord btn-user btn-block">
                                        <i class="fab fa-discord fa-fw"></i> Login with Discord
                                    </a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

<!-- Bootstrap core JavaScript-->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/assets/js/sb-admin-2.min.js"></script>

</body>

</html>
