@import "variables";

.fc-toolbar-title {
  color: $discal-light-gray;
}

.fc-prev-button, .fc-today-button, .fc-next-button, .fc-dayGridMonth-button, .fc-viewHost-button,
.fc-timeGridDay-button, .fc-timeGridWeek-button {
  background-color: $discal-blue !important;
  border-color: $discal-blue !important;

  :active {
    background-color: $discal-red !important;
    border-color: $discal-red !important;
  }
}

.tippy-box[data-theme~='discal'] {
  background-color: $discal-light-gray;
  color: $discal-dark-gray;
  padding: 5px;
}
