td {
	text-align: center;
}

th {
	text-align: center;
	background-color: #b9b9b9;
	border: transparent;
}

pre.code {
	background-color: #061d2d;
	color: white;
	border: #2a292e 1px solid;
	text-align: left;
	font-family: monospace;
	border-radius: 15px;
	padding: 1%;
	overflow: auto;
}
