<!DOCTYPE html>
<!--suppress HtmlUnknownTarget -->
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
	<head>
		<!--Meta stuffs-->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="DisCal is a bot that implements Google Calendar seamlessly into Discord">
		<meta property="og:title" content="DisCal Bot"/>
		<meta property="og:url" content="https://discalbot.com"/>
		<meta property="og:description"
		      content="DisCal is a bot that implements Google Calendar seamlessly into Discord"/>
		<!--meta property="og:image" content="I WILL PUT THE LOGO IN WHEN I MAKE IT SMALL"/-->
		<title>Dashboard - DisCal</title>

		<!--Locally hosted-->
		<link href="/styles/global.css" rel="stylesheet">
		<link href="/styles/fix.css" rel="stylesheet">
	</head>

	<body>
		<div class="top-nav">
			<h1>DISCAL</h1>
			<a href="/">Home</a>
			<a href="/about">About</a>
			<a href="/commands">Commands</a>
			<a href="/setup">Setup</a>
			<a href="/lazy-discal">Lazy DisCal</a>
			<a class="active" href="/dashboard">Dashboard</a>
			<a href="https://discord.gg/AmAMGeN" target="_blank">Support</a>
			<a href="https://www.patreon.com/Novafox" target="_blank">Patreon</a>

			<a class="account" th:if="${loggedIn}" href="/account/logout">Log out</a>
			<a class="account" th:unless="${loggedIn}"
			   th:href="'https://discordapp.com/oauth2/authorize?client_id=' + ${client} + '&scope=guilds+identify&permissions=0&response_type=code&redirect_uri=' + ${redirUri}">Log
				In</a>
		</div>

		<div id="content">
			<!--Check if logged in, if not, handle login...-->
			<div th:if="${loggedIn}">
				<div id="side-nav">
					<h4>Main Settings</h4>
					<form method="post" action="/api/v1/dashboard/select/settings">
						<input type="hidden" name="settings" value="bot">
						<button type="submit">Bot Settings</button>
					</form>
					<br>
					<form method="post" action="/api/v1/dashboard/select/settings">
						<input type="hidden" name="settings" value="guild">
						<button type="submit">Guild Settings</button>
					</form>
					<hr>
					<h4>Components</h4>
					<form method="post" action="/api/v1/dashboard/select/settings">
						<input type="hidden" name="settings" value="calendar">
						<button type="submit">Calendar</button>
					</form>
					<br>
					<form method="post" action="/api/v1/dashboard/select/settings">
						<input type="hidden" name="settings" value="events">
						<button type="submit">Events</button>
					</form>
					<br>
					<form method="post" action="/api/v1/dashboard/select/settings">
						<input type="hidden" name="settings" value="announcements">
						<button type="submit">Announcements</button>
					</form>
					<br>
					<form method="post" action="/api/v1/dashboard/select/settings">
						<input type="hidden" name="settings" value="rsvp">
						<button type="submit">RSVPs</button>
					</form>
				</div>
				<div style="display: flow-root">
					<img th:src="${selected.icon}"
					     style="display: flex;float: left;max-width: 64px;margin-right: 15px;">
					<h3 th:text="'Managing Server: ' + ${selected.name}" style="text-align: left;"></h3>
					<hr>
					<p th:if="${settings} == null">Please select the settings to edit on the left.</p>
					<div th:if="${settings} != null">
						<!--Bot Settings-->
						<div th:if="${settings} == bot">
							<h6>Bot Settings</h6>
							<form action="/api/v1/dashboard/update/settings" method="post"
							      enctype="application/x-www-form-urlencoded" style="text-align: left">
								<label>Bot Nickname
									<br>
									<input type="text" name="bot-nick" maxlength="32" th:value="${selected.botnick}">
								</label>
								<input type="submit" class="submit" value="Update"
								       th:disabled="${selected.manageServer} == false">
							</form>
							<br>
							<br>
							<form method="post" enctype="application/x-www-form-urlencoded"
							      action="/api/v1/dashboard/update/settings" style="text-align: left">
								<label>Bot Prefix
									<br>
									<input type="text" name="prefix" maxlength="32"
									       th:value="${selected.settings.prefix}">
								</label>
								<input type="submit" class="submit" value="Update"
								       th:disabled="${selected.manageServer} == false">
							</form>
							<br>
							<br>
							<form method="post" enctype="application/x-www-form-urlencoded"
							      action="/api/v1/dashboard/update/settings" style="text-align: left">
								<label>Bot Language
									<br>
									<select name="lang" disabled>
										<option th:value="${selected.settings.lang}" selected
										        th:text="${selected.settings.lang}"></option>
										<option value="ENGLISH" th:unless="${selected.settings.lang} == ENGLISH">
											English
										</option>
									</select>
								</label>
								<input disabled type="submit" class="submit" value="Update"
								       th:disabled="${selected.manageServer} == false">
							</form>
							<br>
						</div>
						<!--Guild Settings-->
						<div th:if="${settings} == guild">
							<h6>Guild Settings</h6>
							<form style="text-align: left">
								<label>Patron Guild
									<br>
									<input type="checkbox" name="patron" disabled
									       th:checked="${selected.settings.patronGuild} == true">
								</label>
							</form>
							<br>
							<br>
							<form method="post" action="/api/v1/dashboard/update/settings" style="text-align: left;">
								<input type="hidden" name="branding" value="branding">
								<label>Enable Server Branding (Patron Only)
									<br>
									<input type="checkbox" name="value"
									       th:disabled="${selected.settings.patronGuild} != true"
									       th:checked="${selected.settings.branded} == true"
									       onchange="this.form.submit()">
								</label>
							</form>
							<br>
							<br>
							<form method="post" enctype="application/x-www-form-urlencoded"
							      action="/api/v1/dashboard/update/settings" style="text-align: left">
								<label>Control Role
									<br>
									<select name="con-role">
										<th:block th:each="role : ${selected.roles}">
											<option th:value="${role.id}" th:text="${role.name}"
											        th:selected="${role.controlRole} == true"></option>
										</th:block>
									</select>
								</label>
								<input type="submit" class="submit" value="Update"
								       th:disabled="${selected.manageServer} == false">
							</form>
							<br>
							<br>
							<form method="post" enctype="application/x-www-form-urlencoded"
							      action="/api/v1/dashboard/update/settings" style="text-align: left">
								<label>DisCal Channel
									<br>
									<select name="discal-channel">
										<th:block th:each="chan : ${selected.channels}">
											<option th:value="${chan.id}" th:text="${chan.name}"
											        th:selected="${chan.discalChannel} == true"></option>
										</th:block>
									</select>
								</label>
								<input type="submit" class="submit" value="Update"
								       th:disabled="${selected.discalRole} == false">
							</form>
							<br>
							<br>
						</div>
					</div>
				</div>
			</div>
			<div th:unless="${loggedIn}">
				<h1>YOU ARE NOT LOGGED IN!</h1>
				<p>Please login to continue.</p>
			</div>
		</div>
	</body>

	<footer id="footer">
		<p><span th:text="'© Nova Maday ' + ${year} + ' All rights reserved.'"></span><span> - </span><a
				href="/policy/privacy">Privacy
			Policy</a><span> - </span><a href="/docs/api/overview">Developer API</a></p>
	</footer>
</html>