<!DOCTYPE html>
<!--suppress HtmlUnknownTarget -->
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
	<head>
		<!--Meta stuffs-->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="DisCal is a bot that implements Google Calendar seamlessly into Discord">
		<meta property="og:title" content="DisCal Bot"/>
		<meta property="og:url" content="https://discalbot.com"/>
		<meta property="og:description"
		      content="DisCal is a bot that implements Google Calendar seamlessly into Discord"/>
		<!--meta property="og:image" content="I WILL PUT THE LOGO IN WHEN I MAKE IT SMALL"/-->
		<title>Dashboard - DisCal</title>

		<!--Locally hosted-->
		<link href="/styles/global.css" rel="stylesheet">
		<link href="/styles/fix.css" rel="stylesheet">
		<link href="/styles/bootstrap/modal-only.css" rel="stylesheet">

		<script src="/scripts/dashboard/announcement.js"></script>

		<!--Externally hosted-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>

	<body onload="handleVisibility()">
		<div class="top-nav">
			<h1>DISCAL</h1>
			<a href="/">Home</a>
			<a href="/about">About</a>
			<a href="/commands">Commands</a>
			<a href="/setup">Setup</a>
			<a href="/lazy-discal">Lazy DisCal</a>
			<a class="active" href="/dashboard">Dashboard</a>
			<a href="https://discord.gg/AmAMGeN" target="_blank">Support</a>
			<a href="https://www.patreon.com/Novafox" target="_blank">Patreon</a>

			<a class="account" th:if="${loggedIn}" href="/account/logout">Log out</a>
			<a class="account" th:unless="${loggedIn}"
			   th:href="'https://discordapp.com/oauth2/authorize?client_id=' + ${client} + '&scope=guilds+identify&permissions=0&response_type=code&redirect_uri=http%3A%2F%2Flocalhost%3A4567%2Faccount%2Flogin'">Log
				In</a>
		</div>

		<div id="content">
			<!--Check if logged in, if not, handle login...-->
			<div id="side-nav">
				<h4>Main Settings</h4>
				<form method="post" action="/api/v1/dashboard/select/settings">
					<input type="hidden" name="settings" value="bot">
					<button type="submit">Bot Settings</button>
				</form>
				<br>
				<form method="post" action="/api/v1/dashboard/select/settings">
					<input type="hidden" name="settings" value="guild">
					<button type="submit">Guild Settings</button>
				</form>
				<hr>
				<h4>Components</h4>
				<form method="post" action="/api/v1/dashboard/select/settings">
					<input type="hidden" name="settings" value="calendar">
					<button type="submit">Calendar</button>
				</form>
				<br>
				<form method="post" action="/api/v1/dashboard/select/settings">
					<input type="hidden" name="settings" value="events">
					<button type="submit">Events</button>
				</form>
				<br>
				<form method="post" action="/api/v1/dashboard/select/settings">
					<input type="hidden" name="settings" value="announcements">
					<button type="submit">Announcements</button>
				</form>
				<br>
				<form method="post" action="/api/v1/dashboard/select/settings">
					<input type="hidden" name="settings" value="rsvp">
					<button type="submit">RSVPs</button>
				</form>
			</div>
				<div style="display: flow-root">
					<img th:src="${selected.icon}"
					     style="display: flex;float: left;max-width: 64px;margin-right: 15px;">
					<h3 th:text="'Managing Server: ' + ${selected.name}" style="text-align: left;"></h3>
					<hr>
					<p th:if="${settings} == null">Please select the settings to edit on the left.</p>
					<div th:if="${settings} != null">
						<!--Announcement Settings-->
						<div th:if="${settings} == announcements">
							<h6>Announcement Settings</h6>
							<form method="post" action="/api/v1/dashboard/update/settings" style="text-align: left;">
								<input type="hidden" name="simple-ann" value="simple-ann">
								<label>Use Simple Announcements
									<br>
									<input type="checkbox" name="value"
									       th:checked="${selected.settings.simpleAnnouncements} == true"
									       onchange="this.form.submit()">
								</label>
							</form>
							<br>
							<br>
							<hr>
							<h6>Announcement List</h6>
							<!--TODO: Add pagination for larger guilds....-->
							<th:block th:each="ann : ${selected.announcements}">
								<!--TODO: Implement permission handling-->
								<div>
									<p style="float: left" th:text="${ann.announcementId}"></p>
									<button type="button" data-toggle="modal"
									        th:data-target="'#modal-' + ${ann.announcementId}" style="float: right">Edit
									</button>
									<form method="post" action="/api/v1/dashboard/delete/announcement"
									      style="float: right">
										<input type="hidden" name="id" th:value="${ann.announcementId}">
										<button class="danger" type="submit">Delete</button>
									</form>

									<!-- Edit Modal -->
									<div class="modal fade" th:id="'modal-' + ${ann.announcementId}" role="dialog">
										<div class="modal-dialog">

											<!-- Modal content-->
											<div class="modal-content">
												<div class="modal-header">
													<h4 class="modal-title">Editing Announcement</h4>
												</div>
												<div class="modal-body">
													<form style="text-align: left;" method="post"
													      enctype="application/x-www-form-urlencoded"
													      action="/api/v1/dashboard/update/announcement">
														<label>Channel
															<br>
															<select name="channel">
																<th:block th:each="chan : ${selected.channels}">
																	<th:block th:if="${chan.id} != 0">
																		<option th:value="${chan.id}"
																		        th:text="${chan.name}"
																		        th:selected="${ann.announcementChannelId} == ${chan.id}"></option>
																	</th:block>
																</th:block>
															</select>
														</label>
														<br>
														<br>
														<label>Type
															<br>
															<select name="type">
																<th:block th:each="ty : ${anTypes}">
																	<option th:value="${ty.name}" th:text="${ty.name}"
																	        th:selected="${ty.name} == ${ann.announcementType.name}"></option>
																</th:block>
															</select>
														</label>
														<br>
														<br>
														<label>Event ID (only needed if type of RECUR or SPECIFIC)
															<br>
															<input name="event-id" type="text"
															       th:value="${ann.eventId}">
														</label>
														<br>
														<br>
														<label>Color (Only needed if type of COLOR)
															<br>
															<select name="color">
																<th:block th:each="c : ${eventColors}">
																	<option th:value="${c.id}" th:text="${c.name}"
																	        th:selected="${c.id} == ${ann.eventColor.id}"></option>
																</th:block>
															</select>
														</label>
														<br>
														<br>
														<label>Minutes Before
															<br>
															<input name="minutes" type="number"
															       th:value="${ann.minutesBefore}">
														</label>
														<br>
														<br>
														<label>Hours Before
															<br>
															<input name="hours" type="number"
															       th:value="${ann.hoursBefore}">
														</label>
														<br>
														<br>
														<label>Info (Leave as "None" if you don't want it to display).
															<br>
															<input name="info" type="text" th:value="${ann.info}">
														</label>
														<br>
														<br>
														<input type="hidden" name="id" th:value="${ann.announcementid}">

														<input type="submit" class="submit" value="Update Announcement!"
														       th:disabled="${selected.discalRole} == false">
													</form>
												</div>
												<div class="modal-footer">
													<button type="button" data-dismiss="modal">Close</button>
												</div>
											</div>
										</div>
									</div>
								</div>
								<br>
								<br>
							</th:block>
							<br>
							<br>
							<hr>
							<h6>Create An Announcement Below!</h6>
							<div id="create-announcement">
								<form style="text-align: left;" method="post"
								      enctype="application/x-www-form-urlencoded"
								      action="/api/v1/dashboard/create/announcement" name="announcement-create">
									<label>Channel
										<br>
										<select name="channel">
											<th:block th:each="chan : ${selected.channels}">
												<th:block th:if="${chan.id} != 0">
													<option th:value="${chan.id}" th:text="${chan.name}"></option>
												</th:block>
											</th:block>
										</select>
									</label>
									<br>
									<br>
									<label>Type
										<br>
										<select name="type" id="create-ann-type" onchange="handleVisibility()">
											<th:block th:each="ty : ${anTypes}">
												<option th:value="${ty.name}" th:text="${ty.name}"></option>
											</th:block>
										</select>
									</label>
									<br>
									<br>
									<label id="create-ann-event">Event ID
										<br>
										<input name="event-id" type="text">
									</label>
									<br>
									<br>
									<label id="create-ann-color">Color
										<br>
										<select name="color">
											<th:block th:each="c : ${eventColors}">
												<option th:value="${c.id}" th:text="${c.name}"></option>
											</th:block>
										</select>
									</label>
									<br>
									<br>
									<label>Minutes Before
										<br>
										<input name="minutes" type="number" value="0">
									</label>
									<br>
									<br>
									<label>Hours Before
										<br>
										<input name="hours" type="number" value="0">
									</label>
									<br>
									<br>
									<label>Info (Leave as "None" if you don't want it to display).
										<br>
										<input name="info" type="text" value="None">
									</label>
									<br>
									<br>
									<input type="submit" class="submit" value="Create Announcement!"
									       th:disabled="${selected.discalRole} == false">
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div th:unless="${loggedIn}">
				<h1>YOU ARE NOT LOGGED IN!</h1>
				<p>Please login to continue.</p>
			</div>
	</body>

	<footer id="footer">
		<p>© Nova Maday 2017. All rights reserved. <a href="/policy/privacy">Privacy Policy</a></p>
	</footer>
</html>