<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

	<!--Meta Stuffs-->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="The Ultimate Discord Calendar Bot">

	<meta property="og:title" content="DisCal"/>
	<meta property="og:url" content="https://www.discalbot.com"/>
	<meta property="og:description" content="The Ultimate Discord Calendar Bot"/>
	<meta property="og:image" content="/assets/images/logos/Dark/Opaque/Logo%20Dark%20+bg.png">

	<!-- ****** faviconit.com favicons ****** -->
	<link rel="shortcut icon" href="/assets/img/favicon/favicon.ico">
	<link rel="icon" sizes="16x16 32x32 64x64" href="/assets/img/favicon.ico">
	<link rel="icon" type="image/png" sizes="196x196" href="/assets/img/favicon/favicon-192.png">
	<link rel="icon" type="image/png" sizes="160x160" href="/assets/img/favicon/favicon-160.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/assets/img/favicon/favicon-96.png">
	<link rel="icon" type="image/png" sizes="64x64" href="/assets/img/favicon/favicon-64.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/favicon-32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16.png">
	<link rel="apple-touch-icon" href="/assets/img/favicon/favicon-57.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/assets/img/favicon/favicon-114.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/assets/img/favicon/favicon-72.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/assets/img/favicon/favicon-144.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/assets/img/favicon/favicon-60.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/assets/img/favicon/favicon-120.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/assets/img/favicon/favicon-76.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/assets/img/favicon/favicon-152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicon/favicon-180.png">
	<meta name="msapplication-TileColor" content="#FFFFFF">
	<meta name="msapplication-TileImage" content="/assets/img/favicon/favicon-144.png">
	<meta name="msapplication-config" content="/assets/img/favicon/browserconfig.xml">
	<!-- ****** faviconit.com favicons ****** -->

	<title>DisCal - About</title>

	<!-- Custom fonts for this template-->
	<link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
	<link
		href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
		rel="stylesheet">

	<!-- Custom styles for this template-->
	<link href="/assets/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

	<!-- Sidebar -->
	<ul class="navbar-nav bg-gradient-discal-dark-gray sidebar sidebar-dark accordion"
		id="accordionSidebar">

		<!-- Sidebar - Brand -->
		<a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
			<div class="sidebar-brand-icon rotate-n-15">
				<i class="fas fa-calendar"></i>
			</div>
			<div class="sidebar-brand-text mx-3">DISCAL</div>
		</a>

		<!-- Divider -->
		<hr class="sidebar-divider my-0">

		<!-- Nav Item - About -->
		<li class="nav-item active">
			<a class="nav-link" href="/about">
				<i class="fas fa-fw fa-info-circle"></i>
				<span>About</span></a>
		</li>

		<!-- Nav Item - Commands -->
		<li class="nav-item">
			<a class="nav-link" href="/commands">
				<i class="fas fa-fw fa-terminal"></i>
				<span>Commands</span></a>
		</li>

		<!-- Nav Item - Setup -->
		<li class="nav-item">
			<a class="nav-link" href="/setup">
				<i class="fas fa-fw fa-cog"></i>
				<span>Setup</span></a>
		</li>

		<!-- Nav Item - Lazy DisCal -->
		<li class="nav-item">
			<a class="nav-link" href="/lazy-discal">
				<i class="fas fa-fw fa-magic"></i>
				<span>Lazy DisCal</span></a>
		</li>

		<!-- Nav Item - Status -->
		<li class="nav-item">
			<a class="nav-link" href="/status">
				<i class="fas fa-fw fa-info-circle"></i>
				<span>Status</span></a>
		</li>

		<!-- Nav Item - Dashboard -->
		<li class="nav-item">
			<a class="nav-link" href="/dashboard">
				<i class="fas fa-fw fa-tachometer-alt"></i>
				<span>Dashboard</span></a>
		</li>

		<!-- Divider -->
		<hr class="sidebar-divider">

		<!-- Guilds list (only displayed if logged in) -->
		<div th:if="${logged_in}">
			<!-- Heading     -->
			<div class="sidebar-heading">
				Guilds
			</div>

			<!-- Start Nav Item - Guild Container -->
			<th:block th:each="guild : ${guilds}">
				<div class="nav-item">
					<a class="nav-link" th:href="'/dashboard/' + ${guild.id}">
						<i class="fas fa-fw fa-chart-area"></i>
						<span th:text="${guild.name}"></span>
					</a>
				</div>
			</th:block>
			<!-- End Nav Item - Guild Container -->

			<!-- Divider -->
			<hr class="sidebar-divider d-none d-md-block">
		</div>
		<!-- End Guilds list -->

		<!-- Sidebar Toggler (Sidebar) -->
		<div class="text-center d-none d-md-inline">
			<button class="rounded-circle border-0" id="sidebarToggle"></button>
		</div>

	</ul>
	<!-- End of Sidebar -->

	<!-- Content Wrapper -->
	<div id="content-wrapper" class="d-flex flex-column bg-discal-not-black">

		<!-- Main Content -->
		<div id="content">

			<!-- Topbar -->
			<nav
				class="navbar navbar-expand navbar-dark bg-discal-blue topbar mb-4 static-top shadow">

				<!-- Sidebar Toggle (Topbar) -->
				<button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
					<i class="fa fa-bars text-discord-full-white"></i>
				</button>

				<!-- Topbar Navbar -->
				<ul class="navbar-nav ml-auto">

					<!-- Nav Item - Support Link -->
					<li class="nav-item">
						<a class="nav-link text-discord-full-white" th:href="${support_invite}"
						   target="_blank">
							<i class="fas fa-question-circle fa-sm fa-fw mr-2"></i>
							Support
						</a>
					</li>

					<!-- Nav Item - Patreon Link -->
					<li class="nav-item">
						<a class="nav-link text-discord-full-white"
						   href="https://www.patreon.com/Novafox" target="_blank">
							<i class="fab fa-patreon fa-sm fa-fw mr-2"></i>
							Patreon
						</a>
					</li>

					<!-- Nav Item - Invite Link -->
					<li class="nav-item">
						<a class="nav-link text-discord-full-white" th:href="${bot_invite}"
						   target="_blank">
							<i class="fas fa-envelope-open-text fa-sm fa-fw mr-2"></i>
							Invite
						</a>
					</li>

					<div class="topbar-divider d-none d-sm-block"></div>

					<!-- Nav Item - User Information -->
					<li th:if="${logged_in}" class="nav-item dropdown no-arrow">
						<a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
						   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<span class="mr-2 d-lg-inline  small" th:text="${username}"></span>
							<img class="img-profile rounded-circle" th:src="${pfp}"
								 alt="pfp">
						</a>
						<!-- Dropdown - User Information -->
						<div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
							 aria-labelledby="userDropdown">
							<a class="dropdown-item text-discord-full-white" href="#"
							   data-toggle="modal" data-target="#logoutModal">
								<i class="fas fa-sign-out-alt fa-sm fa-fw mr-2"></i>
								Logout
							</a>
						</div>
					</li>
					<li th:unless="${logged_in}" class="nav-item">
						<a class="nav-link text-discord-full-white" href="/login">
							<i class="fas fa-sign-in-alt fa-sm fa-fw mr-2"></i>
							Login
						</a>
					</li>

				</ul>

			</nav>
			<!-- End of Topbar -->

			<!-- Begin Page Content -->
			<div class="container-fluid">
				<h1 class="text-lg-center text-discal-blue">DisCal - About</h1>

				<!-- Start Invite-->
				<div id="invite">
					<div class="image-wrapper" style="float: right">
						<img src="/assets/img/logos/discord-logo-white.png"
							 style="max-width: 300px; max-height: 300px"
							 alt="Discord Logo, White">
					</div>

					<h3 class="text-lg-left text-discal-blue">Invite To Your Discord Server</h3>

					<br>
					<br>

					<p class="text-left text-discord-full-white">
						Seen enough of this amazing bot? Add it to your discord server by clicking
						the button below, or the "invite" button in the top navigation bar.
						<br>
						<br>
						Once you add DisCal, check out the "Setup" page for more info on configuring
						the bot!
					</p>

					<a class="bg-discord-blurple btn btn-discord btn-user btn-block text-discord-full-white"
					   style="margin: 0 auto; max-width: 200px"
					   target="_blank"
					   th:href="${inviteUrl}">
						Invite to Server Now!
					</a>

					<br>

					<p class="text-left text-discord-full-white">
						Need to see more to convince you? Scroll down the page! You'l learn just how
						useful DisCal really is and why you need it!
					</p>
				</div>
				<!-- End Invite-->

				<hr>

				<!-- Start commands-->
				<div id="commands">
					<div class="image-wrapper" style="float: right">
						<img src="/assets/img/examples/DisCal-Event-Creation.jpg"
							 style="max-width: 300px; max-height: 300px;"
							 alt="DisCal Event Creation">
					</div>

					<h3 class="text-lg-left text-discal-blue">Commands</h3>

					<br>
					<br>

					<p class="text-left text-discord-full-white">
						DisCal is designed to be intuitive and powerful.
						<br>
						<br>
						<br>
						Discal uses simple to understand commands. With a customizable prefix,
						ability to mention DisCal directly,
						and more DisCal's command system is designed for users in mind.
						<br>
						<br>
						<br>
						Because of this, DisCal has a ton of commands that allow you to fully
						utilize it! View all of the documentation on the commands
						for DisCal by clicking the button below!
					</p>

					<a class="bg-discord-blurple btn btn-discord btn-user btn-block text-discord-full-white"
					   style="margin: 0 auto; max-width: 200px"
					   href="/commands">
						View Commands
					</a>
				</div>
				<!-- End Commands-->

				<hr>

				<!-- Start Trello -->
				<div id="trello">
					<div class="image-wrapper" style="float: right">
						<img src="/assets/img/other/discal-trello.png"
							 style="max-width: 450px; max-height: 300px;"
							 alt="Trello Screenshot">
					</div>

					<h3 class="text-left text-discal-blue">Trello</h3>

					<br>
					<br>

					<p class="text-left text-discord-full-white">
						DisCal is meant to be useful, collaborative, and easy to use.
						<br>
						<br>
						<br>
						We use Trello to track everything we are currently working on.
						This way, you can see what our progress is, comment on what you want us to
						work on, or add suggestions and requests.
						<br>
						<br>
						<br>
					</p>

					<a class="bg-discord-blurple btn btn-discord btn-user btn-block text-discord-full-white"
					   href="https://trello.com/b/OuFo5aXu/discal"
					   target="_blank"
					   style="margin: 0 auto; max-width: 200px">
						Check out DisCal's Trello
					</a>
				</div>
				<!-- End Trello-->

				<hr>

				<!-- Start Support-->
				<div id="support">
					<div class="image-wrapper" style="float: right">
						<img src="/assets/img/other/support-server.png"
							 style="max-width: 450px; max-height: 300px;"
							 alt="Support Server Screenshot">
					</div>

					<h3 class="text-left text-discal-blue">Official Support Server</h3>

					<br>
					<br>

					<p class="text-left text-discord-full-white">
						If DisCal was meant to be useful, so are we! Join our official DisCal
						Discord server for extra info and help.
						<br>
						<br>
						<br>
						Need help with something? Visit our support channel!
						<br>
						<br>
						Want to request a feature we somehow didn't think to add? Send us a message
						in our feature request channel!
						<br>
						<br>
						<br>
						Just want to be part of the amazing community using this Bot?
						Join the discord!
					</p>

					<a class="bg-discord-blurple btn btn-discord btn-user btn-block text-discord-full-white"
					   href="https://discord.gg/2TFqyuy"
					   target="_blank"
					   style="margin: 0 auto; max-width: 200px">
						Join The Support Server
					</a>
				</div>
				<!-- End Support -->

				<hr>

				<!-- Start GitHub-->
				<div id="source">
					<div class="image-wrapper" style="float: right">
						<img src="/assets/img/other/discal-github.jpg"
							 style="max-width: 450px; max-height: 300px;"
							 alt="DisCal GitHub Screenshot">
					</div>

					<h3 class="text-left text-discal-blue">Source Code</h3>

					<br>
					<br>

					<p class="text-left text-discord-full-white">
						DisCal was built upon open source APIs. It wouldn't be fair if we didn't
						open source DisCal.
						<br>
						<br>
						<br>
						All of the source code behind this amazing bot can be found on the GitHub
						repo linked below!
						<br>
						<br>
						<br>
						We encourage those who can to fork the repository and help code DisCal!
						We are community driven and really love any help we can get.
						Even just a simple typo fix.
						<br>
						<br>
						And of course, we will credit you with the changes and even give you a
						special contributor role!!!
					</p>

					<a class="bg-discord-blurple btn btn-discord btn-user btn-block text-discord-full-white"
					   href="https://github.com/NovaFox161/DisCal-Discord-Bot"
					   target="_blank"
					   style="margin: 0 auto; max-width: 200px">
						DisCal GitHub
					</a>
				</div>
				<!-- End Github-->

				<hr>

				<!-- Start Patreon-->
				<div id="patreon">
					<div class="image-wrapper" style="float: right">
						<img src="/assets/img/other/novafox-patreon-page.png"
							 style="max-width: 450px; max-height: 300px;"
							 alt="Patreon Screenshot">
					</div>

					<h3 class="text-left text-discal-blue">Become a Patron Today!</h3>

					<br>
					<br>

					<p class="text-left text-discord-full-white">
						DisCal is developed freely, open source, and completely unlimited.
						However, we still need to support ourselves.
						<br>
						<br>
						Rather than making DisCal limited for free users, we decided to open a
						patreon, by becoming a patron you help support and fund the further
						development and support for DisCal. Please consider becoming a patron!
					</p>

					<a class="bg-discord-blurple btn btn-discord btn-user btn-block text-discord-full-white"
					   href="https://www.patreon.com/Novafox"
					   target="_blank"
					   style="margin: 0 auto; max-width: 200px">
						Become a Patron!
					</a>

					<br>

					<p class="text-left text-discord-full-white">
						By becoming a patron, you not only support us and DisCal's development,
						but will get exclusive access to features early before anyone else!
					</p>
				</div>
				<!-- End Patreon-->

				<hr>

				<!-- Start Dev API -->
				<div id="developer-api">
					<div class="image-wrapper" style="float: right">
						<img src="/assets/img/examples/DisCal-Developer-API.jpg"
							 style="max-width: 450px; max-height: 300px;"
							 alt="DisCal Developer API Screenshot">
					</div>

					<h3 class="text-left text-discal-blue">Developer API</h3>

					<br>
					<br>

					<p class="text-left text-discord-full-white">
						With DisCal growing everyday, we decided that a developer API should exist.
						So, that's exactly what we did!
						<br>
						We have built a fully RESTful API into DisCal for you to hook into!
						Use it for your bots, websites, apps, and more!
						<br>
						<br>
						Simply check out the API documentation and learn how you can easily use
						DisCal in your projects!
					</p>

					<a class="bg-discord-blurple btn btn-discord btn-user btn-block text-discord-full-white"
					   href="/docs/api/overview"
					   style="margin: 0 auto; max-width: 200px">
						View API Docs
					</a>

				</div>
				<!-- End Dev API-->

				<br>
				<br>
				<br>

			</div>
			<!-- /.container-fluid -->

		</div>
		<!-- End of Main Content -->

		<!-- Footer -->
		<footer class="sticky-footer bg-discal-blue">
			<div class="container my-auto">
				<div class="copyright text-center text-discord-full-white my-auto">
					<span th:text="'&copy; DreamExposure ' + ${year} + '. LGPL-3.'"></span>
				</div>
			</div>
		</footer>
		<!-- End of Footer -->

	</div>
	<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
	<i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog"
	 aria-labelledby="exampleModalLabel"
	 aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
				<button class="close" type="button" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body">Select "Logout" below if you are ready to end your current
				session.
			</div>
			<div class="modal-footer">
				<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
				<a class="btn btn-primary" href="/logout">Logout</a>
			</div>
		</div>
	</div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/assets/js/sb-admin-2.min.js"></script>

</body>

</html>
