<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

	<!--Meta Stuffs-->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="The Ultimate Discord Calendar Bot">

	<meta property="og:title" content="DisCal"/>
	<meta property="og:url" content="https://www.discalbot.com"/>
	<meta property="og:description" content="The Ultimate Discord Calendar Bot"/>
	<meta property="og:image" content="/assets/images/logos/Dark/Opaque/Logo%20Dark%20+bg.png">

	<!-- ****** faviconit.com favicons ****** -->
	<link rel="shortcut icon" href="/assets/img/favicon/favicon.ico">
	<link rel="icon" sizes="16x16 32x32 64x64" href="/assets/img/favicon.ico">
	<link rel="icon" type="image/png" sizes="196x196" href="/assets/img/favicon/favicon-192.png">
	<link rel="icon" type="image/png" sizes="160x160" href="/assets/img/favicon/favicon-160.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/assets/img/favicon/favicon-96.png">
	<link rel="icon" type="image/png" sizes="64x64" href="/assets/img/favicon/favicon-64.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/favicon-32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16.png">
	<link rel="apple-touch-icon" href="/assets/img/favicon/favicon-57.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/assets/img/favicon/favicon-114.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/assets/img/favicon/favicon-72.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/assets/img/favicon/favicon-144.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/assets/img/favicon/favicon-60.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/assets/img/favicon/favicon-120.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/assets/img/favicon/favicon-76.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/assets/img/favicon/favicon-152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicon/favicon-180.png">
	<meta name="msapplication-TileColor" content="#FFFFFF">
	<meta name="msapplication-TileImage" content="/assets/img/favicon/favicon-144.png">
	<meta name="msapplication-config" content="/assets/img/favicon/browserconfig.xml">
	<!-- ****** faviconit.com favicons ****** -->

	<title>DisCal - Commands</title>

	<!-- Custom fonts for this template-->
	<link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
	<link
		href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
		rel="stylesheet">

	<!-- Custom styles for this template-->
	<link href="/assets/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

	<!-- Sidebar -->
	<ul class="navbar-nav bg-gradient-discal-dark-gray sidebar sidebar-dark accordion"
		id="accordionSidebar">

		<!-- Sidebar - Brand -->
		<a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
			<div class="sidebar-brand-icon rotate-n-15">
				<i class="fas fa-calendar"></i>
			</div>
			<div class="sidebar-brand-text mx-3">DISCAL</div>
		</a>

		<!-- Divider -->
		<hr class="sidebar-divider my-0">

		<!-- Nav Item - About -->
		<li class="nav-item">
			<a class="nav-link" href="/about">
				<i class="fas fa-fw fa-info-circle"></i>
				<span>About</span></a>
		</li>

		<!-- Nav Item - Commands -->
		<li class="nav-item active">
			<a class="nav-link" href="/commands">
				<i class="fas fa-fw fa-terminal"></i>
				<span>Commands</span></a>
		</li>

		<!-- Nav Item - Setup -->
		<li class="nav-item">
			<a class="nav-link" href="/setup">
				<i class="fas fa-fw fa-cog"></i>
				<span>Setup</span></a>
		</li>

		<!-- Nav Item - Lazy DisCal -->
		<li class="nav-item">
			<a class="nav-link" href="/lazy-discal">
				<i class="fas fa-fw fa-magic"></i>
				<span>Lazy DisCal</span></a>
		</li>

		<!-- Nav Item - Status -->
		<li class="nav-item">
			<a class="nav-link" href="/status">
				<i class="fas fa-fw fa-info-circle"></i>
				<span>Status</span></a>
		</li>

		<!-- Nav Item - Dashboard -->
		<li class="nav-item">
			<a class="nav-link" href="/dashboard">
				<i class="fas fa-fw fa-tachometer-alt"></i>
				<span>Dashboard</span></a>
		</li>

		<!-- Divider -->
		<hr class="sidebar-divider">

		<!-- Guilds list (only displayed if logged in) -->
		<div th:if="${logged_in}">
			<!-- Heading     -->
			<div class="sidebar-heading">
				Guilds
			</div>

			<!-- Start Nav Item - Guild Container -->
			<th:block th:each="guild : ${guilds}">
				<div class="nav-item">
					<a class="nav-link" th:href="'/dashboard/' + ${guild.id}">
						<i class="fas fa-fw fa-chart-area"></i>
						<span th:text="${guild.name}"></span>
					</a>
				</div>
			</th:block>
			<!-- End Nav Item - Guild Container -->

			<!-- Divider -->
			<hr class="sidebar-divider d-none d-md-block">
		</div>
		<!-- End Guilds list -->

		<!-- Sidebar Toggler (Sidebar) -->
		<div class="text-center d-none d-md-inline">
			<button class="rounded-circle border-0" id="sidebarToggle"></button>
		</div>

	</ul>
	<!-- End of Sidebar -->

	<!-- Content Wrapper -->
	<div id="content-wrapper" class="d-flex flex-column bg-discal-not-black">

		<!-- Main Content -->
		<div id="content">

			<!-- Topbar -->
			<nav
				class="navbar navbar-expand navbar-dark bg-discal-blue topbar mb-4 static-top shadow">

				<!-- Sidebar Toggle (Topbar) -->
				<button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
					<i class="fa fa-bars text-discord-full-white"></i>
				</button>

				<!-- Topbar Navbar -->
				<ul class="navbar-nav ml-auto">

					<!-- Nav Item - Support Link -->
					<li class="nav-item">
						<a class="nav-link text-discord-full-white" th:href="${support_invite}"
						   target="_blank">
							<i class="fas fa-question-circle fa-sm fa-fw mr-2"></i>
							Support
						</a>
					</li>

					<!-- Nav Item - Patreon Link -->
					<li class="nav-item">
						<a class="nav-link text-discord-full-white"
						   href="https://www.patreon.com/Novafox" target="_blank">
							<i class="fab fa-patreon fa-sm fa-fw mr-2"></i>
							Patreon
						</a>
					</li>

					<!-- Nav Item - Invite Link -->
					<li class="nav-item">
						<a class="nav-link text-discord-full-white" th:href="${bot_invite}"
						   target="_blank">
							<i class="fas fa-envelope-open-text fa-sm fa-fw mr-2"></i>
							Invite
						</a>
					</li>

					<div class="topbar-divider d-none d-sm-block"></div>

					<!-- Nav Item - User Information -->
					<li th:if="${logged_in}" class="nav-item dropdown no-arrow">
						<a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
						   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<span class="mr-2 d-lg-inline  small" th:text="${username}"></span>
							<img class="img-profile rounded-circle" th:src="${pfp}"
								 alt="pfp">
						</a>
						<!-- Dropdown - User Information -->
						<div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
							 aria-labelledby="userDropdown">
							<a class="dropdown-item text-discord-full-white" href="#"
							   data-toggle="modal" data-target="#logoutModal">
								<i class="fas fa-sign-out-alt fa-sm fa-fw mr-2"></i>
								Logout
							</a>
						</div>
					</li>
					<li th:unless="${logged_in}" class="nav-item">
						<a class="nav-link text-discord-full-white" href="/login">
							<i class="fas fa-sign-in-alt fa-sm fa-fw mr-2"></i>
							Login
						</a>
					</li>

				</ul>

			</nav>
			<!-- End of Topbar -->

			<!-- Begin Page Content -->
			<div class="container-fluid">
				<!--Start intro-->
				<h1 class="text-center text-discal-blue">DisCal - About</h1>

				<p class="text-center text-discord-full-white">
					Below is full documentation on DisCal commands.
					<br>
					<br>
					<br>

					This documentation includes the command, acceptable arguments, an example, and
					an explanation for each and every command DisCal has to offer.

					<br>
					<br>

					Since many commands have sub-commands and functions, this page will be split
					into sections for each.

					<br>
					<br>
					<br>

					<strong>
						[] = required argument, do not actually include this symbol in the command
					</strong>

					<br>

					<strong>
						() = optional argument, do not actually include this symbol in the command
					</strong>
				</p>
				<!--End intro-->

				<hr>

				<!-- Start example images-->
				<div class="image-wrapper" style="max-width: 900px; position: center;">
					<img src="/assets/img/examples/event_demo.gif"
						 style="max-width: 300px; max-height: 300px; padding: 10px;"
						 alt="Event Demo Gif">

					<img src="/assets/img/examples/calendar_demo.gif"
						 style="max-width: 300px; max-height: 300px; padding: 10px;"
						 alt="Calendar Demo Gif">

					<img src="/assets/img/examples/announcement_demo.gif"
						 style="max-width: 300px; max-height: 300px; padding: 10px;"
						 alt="Announcement Demo Gif">

				</div>
				<!--End example images-->

				<hr>

				<!-- Start calendar commands-->
				<div id="calendar">
					<h2 class="text-center text-discal-blue">!calendar commands</h2>
					<h3 class="text-center text-discal-blue">Alias: !cal !callador</h3>

					<table style="border-color: #bcbcbc"
						   border="#bcbcbc" cellpadding="4" cellspacing="0">
						<tbody>
						<tr>
							<th>Command</th>
							<th>Acceptable Arguments</th>
							<th>Example</th>
							<th>Description</th>
						</tr>
						<!-- Start calendar create command-->
						<tr>
							<td>!cal create</td>
							<td>!cal create [name w/ spaces]</td>
							<td>!cal create cool calendar</td>
							<td>Starts the calendar creator</td>
						</tr>
						<!-- Start calendar summary command-->
						<tr>
							<td>!cal summary</td>
							<td>!cal summary [summary w/ spaces]</td>
							<td>!cal summary cool calendar</td>
							<td>Sets the calendar's name/summary</td>
						</tr>
						<!-- Start calendar name command-->
						<tr>
							<td>!cal name</td>
							<td>!cal name [name w/ spaces]</td>
							<td>!cal name cool calendar</td>
							<td>Sets the calendar's name/summary</td>
						</tr>
						<!-- Start calendar description command-->
						<tr>
							<td>!cal description</td>
							<td>!cal description [desc. w/ spaces]</td>
							<td>!cal description my awesome calendar</td>
							<td>Sets the calendar's description</td>
						</tr>
						<!-- Start calendar timezone command-->
						<tr>
							<td>!cal timezone</td>
							<td>!cal timezone [timezone]</td>
							<td>!cal timezone America/Chicago</td>
							<td>Sets the calendar's timezone.</td>
						</tr>
						<!-- Start calendar view command-->
						<tr>
							<td>!cal view</td>
							<td>!cal view</td>
							<td>!cal view</td>
							<td>Displays the calendar currently in the editor/creator</td>
						</tr>
						<!-- Start calendar review command-->
						<tr>
							<td>!cal review</td>
							<td>!cal review</td>
							<td>!cal review</td>
							<td>Displays the calendar currently in the editor/creator</td>
						</tr>
						<!-- Start calendar confirm command-->
						<tr>
							<td>!cal confirm</td>
							<td>!cal confirm</td>
							<td>!cal confirm</td>
							<td>Confirms the creation/edits and updates on Google.</td>
						</tr>
						<!-- Start calendar cancel command-->
						<tr>
							<td>!cal cancel</td>
							<td>!cal cancel</td>
							<td>!cal cancel</td>
							<td>Cancels the creation/edits of a calendar</td>
						</tr>
						<!-- Start calendar delete command-->
						<tr>
							<td>!cal delete</td>
							<td>!cal delete</td>
							<td>!cal delete</td>
							<td>Deletes the calendar from your Guild and Google</td>
						</tr>
						<!-- Start calendar remove command-->
						<tr>
							<td>!cal remove</td>
							<td>!cal remove</td>
							<td>!cal remove</td>
							<td>Deletes the calendar from your Guild and Google</td>
						</tr>
						<!-- Start calendar edit command-->
						<tr>
							<td>!cal edit</td>
							<td>!cal edit</td>
							<td>!cal edit</td>
							<td>Allows you to edit the calendar</td>
						</tr>
						</tbody>
					</table>
				</div>
				<!-- End calendar commands-->

				<hr>

				<!-- Start event command-->
				<div id="event">

					<h2 class="text-center text-discal-blue">!event commands</h2>
					<h3 class="text-center text-discal-blue">Aliases: !e</h3>

					<table style="border-color: #bcbcbc"
						   border="#bcbcbc" cellpadding="4" cellspacing="0">
						<tbody>
						<tr>
							<th>Command</th>
							<th>Acceptable Arguments</th>
							<th>Example</th>
							<th>Description</th>
						</tr>
						<!-- Start event create command-->
						<tr>
							<td>!event create</td>
							<td>!event create (name w/ spaces)</td>
							<td>!event create my cool event</td>
							<td>Start the event creator</td>
						</tr>
						<!-- Start event summary command-->
						<tr>
							<td>!event summary</td>
							<td>!event summary [summary w/ spaces]</td>
							<td>!event summary my cool event</td>
							<td>Sets the event name/summary</td>
						</tr>
						<!-- Start event description command-->
						<tr>
							<td>!event description</td>
							<td>!event description [desc. w/ spaces]</td>
							<td>!event description This is my super cool event</td>
							<td>Sets the event description</td>
						</tr>
						<!-- Start event start command-->
						<tr>
							<td>!event start</td>
							<td>!event start [yyyy/MM/dd-HH:mm:ss]</td>
							<td>!event start 2018/03/21-14:30:00</td>
							<td>Sets the event's start time (in 24 hour format)</td>
						</tr>
						<!-- Start event end command-->
						<tr>
							<td>!event end</td>
							<td>!event end [yyyy/MM/dd-HH:mm:ss]</td>
							<td>!event end 2018/03/21-20:00:00</td>
							<td>Sets the event's end time (in 24 hour format)</td>
						</tr>
						<!-- Start event color command-->
						<tr>
							<td>!event color</td>
							<td>!event color [color]</td>
							<td>!event color GREEN</td>
							<td>Set's the event's <a href="/docs/events/event-colors">Color</a></td>
						</tr>
						<!-- Start event location command-->
						<tr>
							<td>!event location</td>
							<td>!event location [location]</td>
							<td>!event location Room 253</td>
							<td>Sets the event's location</td>
						</tr>
						<!-- Start event image command-->
						<tr>
							<td>!event image</td>
							<td>!event image [link]</td>
							<td>!event image https://life.has-destroyed.me/CoXnNvOVq.jpg</td>
							<td>Sets the event's image. Must be a valid link to image directly.
								NO GIFS!
							</td>
						</tr>
						<!-- Start event review command-->
						<tr>
							<td>!event review</td>
							<td>!event review</td>
							<td>!event review</td>
							<td>Displays the event currently in the creator/editor</td>
						</tr>
						<!-- Start event confirm command-->
						<tr>
							<td>!event confirm</td>
							<td>!event confirm</td>
							<td>!event confirm</td>
							<td>Confirms the event's creation/edit.</td>
						</tr>
						<!-- Start event cancel command-->
						<tr>
							<td>!event cancel</td>
							<td>!event cancel</td>
							<td>!event cancel</td>
							<td>Cancels the event creation/edits.</td>
						</tr>
						<!-- Start event recur command-->
						<tr>
							<td>!event recur</td>
							<td>!event recur [true/false]</td>
							<td>!event recur true</td>
							<td>Set's whether or not the event will recur</td>
						</tr>
						<!-- Start event freq command-->
						<tr>
							<td>!event freq</td>
							<td>!event freq [frequency]</td>
							<td>!event freq DAILY</td>
							<td>Set's the event recurrence frequency to DAILY. Valid options:
								DAILY, WEEKLY, MONTHLY, YEARLY
							</td>
						</tr>
						<!-- Start event count command-->
						<tr>
							<td>!event count</td>
							<td>!event count [count]</td>
							<td>!event count -1</td>
							<td>Sets how many times the event will recur. (Use 0 or -1 for
								infinite)
							</td>
						</tr>
						<!-- Start event interval command-->
						<tr>
							<td>!event interval</td>
							<td>!event interval [interval]</td>
							<td>!event interval 2</td>
							<td>Sets the recurrence interval. 1 is every time
								(according to frequency), 2 means every other time, etc etc
							</td>
						</tr>
						<!-- Start event edit command-->
						<tr>
							<td>!event edit</td>
							<td>!event edit [event ID]</td>
							<td>!event edit eihctjdgmf</td>
							<td>Starts the event editor for the specified event</td>
						</tr>
						<!-- Start event copy command-->
						<tr>
							<td>!event copy</td>
							<td>!event copy [event ID]</td>
							<td>!event copy eihctjdgmf</td>
							<td>Copies the specified event details into a new event creator</td>
						</tr>
						<!-- Start event view command-->
						<tr>
							<td>!event view</td>
							<td>!event view [event ID]</td>
							<td>!event view eihctjdgmf</td>
							<td>Displays the specified event's details.</td>
						</tr>
						<!-- Start event delete command-->
						<tr>
							<td>!event delete</td>
							<td>!event delete [event ID]</td>
							<td>!event delete eihctjdgmf</td>
							<td>Deletes the specified event</td>
						</tr>
						<!-- Start event remove command-->
						<tr>
							<td>!event remove</td>
							<td>!event remove [event ID]</td>
							<td>!event remove eihctjdgmf</td>
							<td>Deletes the specified event</td>
						</tr>
						</tbody>
					</table>

				</div>
				<!--End event command-->

				<hr>

				<!--Start rsvp command-->
				<div id="rsvp">

					<h2 class="text-center text-discal-blue">!rsvp commands</h2>

					<table style="border-color: #bcbcbc"
						   border="#bcbcbc" cellpadding="4" cellspacing="0">
						<tbody>
						<tr>
							<th>Command</th>
							<th>Acceptable Arguments</th>
							<th>Example</th>
							<th>Description</th>
						</tr>
						<!--Start rsvp ontime command-->
						<tr>
							<td>!rsvp ontime</td>
							<td>!rsvp ontime [Event ID]</td>
							<td>!rsvp ontime eihctjdgmf</td>
							<td>RSVPs as going to the event on time.</td>
						</tr>
						<!--Start rsvp late command-->
						<tr>
							<td>!rsvp late</td>
							<td>!rsvp late [Event ID]</td>
							<td>!rsvp late eihctjdgmf</td>
							<td>RSVPs as going to the event, but arriving late.</td>
						</tr>
						<!--Start rsvp not command-->
						<tr>
							<td>!rsvp not</td>
							<td>!rsvp not [Event ID]</td>
							<td>!rsvp not eihctjdgmf</td>
							<td>RSVPs as not going to the event.</td>
						</tr>
						<!--Start rsvp unsure command-->
						<tr>
							<td>!rsvp unsure</td>
							<td>!rsvp unsure [Event ID]</td>
							<td>!rsvp unsure eihctjdgmf</td>
							<td>RSVPs as unsure about whether or not you will attend.
							</td>
						</tr>
						<!--Start rsvp remove command-->
						<tr>
							<td>!rsvp remove</td>
							<td>!rsvp remove [Event ID]</td>
							<td>!rsvp remove eihctjdgmf</td>
							<td>Removes your RSVP status from the event.</td>
						</tr>
						<!--Start rsvp list command-->
						<tr>
							<td>!rsvp list</td>
							<td>!rsvp list [Event ID]</td>
							<td>!rsvp list eihctjdgmf</td>
							<td>Lists the users who have RSVPed to the event.</td>
						</tr>
						</tbody>
					</table>

				</div>
				<!--End RSVP command-->

				<hr>

				<!-- Start announcement command-->
				<div id="announcement">
					<h2 class="text-center text-discal-blue">!announcement commands</h2>
					<h3 class="text-center text-discal-blue">
						Aliases: !announcements !announce !alert !alerts !a !ann
					</h3>

					<table style="border-color: #bcbcbc"
						   border="#bcbcbc" cellpadding="4" cellspacing="0">
						<tbody>
						<tr>
							<th>Command</th>
							<th>Acceptable Arguments</th>
							<th>Example</th>
							<th>Description</th>
						</tr>
						<!-- Start announcement create command-->
						<tr>
							<td>!a create</td>
							<td>!a create</td>
							<td>!a create</td>
							<td>Starts the announcement creator</td>
						</tr>
						<!-- Start announcement type command-->
						<tr>
							<td>!a type</td>
							<td>!a type [type]</td>
							<td>!a type UNIVERSAL</td>
							<td>Sets the announcement type. Valid types:
								UNIVERSAL, SPECIFIC, COLOR, RECUR
							</td>
						</tr>
						<!-- Start announcement event command-->
						<tr>
							<td>!a event</td>
							<td>!a event [event-id]</td>
							<td>!a event eihctjdgmf</td>
							<td>Sets the announcement's event.
								<strong>ONLY needed when using SPECIFIC or RECUR</strong>
							</td>
						</tr>
						<!-- Start announcement color command-->
						<tr>
							<td>!a color</td>
							<td>!a color [color]</td>
							<td>!a color BLUE</td>
							<td>Sets the announcement's color
								<strong>ONLY needed when using COLOR</strong>
							</td>
						</tr>
						<!-- Start announcement channel command-->
						<tr>
							<td>!a channel</td>
							<td>!a channel [channel-name]</td>
							<td>!a channel announcements</td>
							<td>Sets the announcement's channel to post in.</td>
						</tr>
						<!-- Start announcement minutes command-->
						<tr>
							<td>!a minutes</td>
							<td>!a minutes [minutes]</td>
							<td>!a minutes 30</td>
							<td>Sets the minutes before the event to announce. Added to hours</td>
						</tr>
						<!-- Start announcement hours command-->
						<tr>
							<td>!a hours</td>
							<td>!a hours [hours]</td>
							<td>!a hours 2</td>
							<td>Sets the hours before the event to announce. Added to minutes</td>
						</tr>
						<!-- Start announcement info command-->
						<tr>
							<td>!a info</td>
							<td>!a info [your info here]</td>
							<td>!a info So much info, so little space</td>
							<td>Sets the additional info to be posted as part of the announcement
							</td>
						</tr>
						<!-- Start announcement infoOnly command-->
						<tr>
							<td>!a infoOnly</td>
							<td>!a infoOnly</td>
							<td>!a infoOnly</td>
							<td>Sets the announcement to ONLY display the additional info set.</td>
						</tr>
						<!-- Start announcement review command-->
						<tr>
							<td>!a review</td>
							<td>!a review</td>
							<td>!a review</td>
							<td>Displays info about the announcement being edited/created.</td>
						</tr>
						<!-- Start announcement confirm command-->
						<tr>
							<td>!a confirm</td>
							<td>!a confirm</td>
							<td>!a confirm</td>
							<td>Confirms the creation/edits and updates the database.</td>
						</tr>
						<!-- Start announcement cancel command-->
						<tr>
							<td>!a cancel</td>
							<td>!a cancel</td>
							<td>!a cancel</td>
							<td>Cancels the creation/edits on the announcement.</td>
						</tr>
						<!-- Start announcement edit command-->
						<tr>
							<td>!a edit</td>
							<td>!a edit [announcement-ID]</td>
							<td>!a edit d9b0ab8d-7b1e-4f3f-aaa8-0a8399e3fc8c</td>
							<td>Starts the editor for the specified announcement</td>
						</tr>
						<!-- Start announcement copy command-->
						<tr>
							<td>!a copy</td>
							<td>!a copy [announcement-ID]</td>
							<td>!a copy d9b0ab8d-7b1e-4f3f-aaa8-0a8399e3fc8c</td>
							<td>Copies the specified announcement's details to a new announcement
							</td>
						</tr>
						<!-- Start announcement delete command-->
						<tr>
							<td>!a delete</td>
							<td>!a delete [announcement-ID]</td>
							<td>!a delete d9b0ab8d-7b1e-4f3f-aaa8-0a8399e3fc8c</td>
							<td>Deletes the specified announcement</td>
						</tr>
						<!-- Start announcement enable command-->
						<tr>
							<td>!a enable</td>
							<td>!a enable [announcement-ID]</td>
							<td>!a enable d9b0ab8d-7b1e-4f3f-aaa8-0a8399e3fc8c</td>
							<td>Sets the announcement to be enabled, so it is posted.</td>
						</tr>
						<!-- Start announcement disable command-->
						<tr>
							<td>!a disable</td>
							<td>!a disable [announcement-ID]</td>
							<td>!a disable d9b0ab8d-7b1e-4f3f-aaa8-0a8399e3fc8c</td>
							<td>Sets the announcement to be disabled, so it is not posted.</td>
						</tr>
						<!-- Start announcement view command-->
						<tr>
							<td>!a view</td>
							<td>!a view [announcement-ID]</td>
							<td>!a view d9b0ab8d-7b1e-4f3f-aaa8-0a8399e3fc8c</td>
							<td>Displays the specified announcement's details</td>
						</tr>
						<!-- Start announcement list command-->
						<tr>
							<td>!a list</td>
							<td>!a list [Amount or "all"]</td>
							<td>!a list 10</td>
							<td>Lists the specified amount of announcements view quick viewing</td>
						</tr>
						<!-- Start announcement sub command-->
						<tr>
							<td>!a sub</td>
							<td>!a sub [announcement-ID] (user(s) and/or role(s))</td>
							<td>!a sub d9b0ab8d-7b1e-4f3f-aaa8-0a8399e3fc8c</td>
							<td>Subscribes yourself OR the specified users/roles to the announcement
							</td>
						</tr>
						<!-- Start announcement unsub command-->
						<tr>
							<td>!a unsub</td>
							<td>!a unsub [announcement-ID] (user(s) and/or role(s))</td>
							<td>!a unsub d9b0ab8d-7b1e-4f3f-aaa8-0a8399e3fc8c</td>
							<td>Unsubscribes yourself OR the specified users/roles to the
								announcement
							</td>
						</tr>
						</tbody>
					</table>

				</div>
				<!-- End announcement command-->

				<hr>

				<!--Start discal commands-->
				<div id="discal">
					<h2 class="text-center text-discal-blue">!discal commands</h2>

					<table style="border-color: #bcbcbc"
						   border="#bcbcbc" cellpadding="4" cellspacing="0">
						<tbody>
						<tr>
							<th>Command</th>
							<th>Acceptable Arguments</th>
							<th>Example</th>
							<th>Description</th>
						</tr>
						<!--Start discal command-->
						<tr>
							<td>!discal</td>
							<td>!discal</td>
							<td>!discal</td>
							<td>Displays DisCal's bot information</td>
						</tr>
						<!--Start discal settings command-->
						<tr>
							<td>!discal settings</td>
							<td>!discal settings</td>
							<td>!discal settings</td>
							<td>Displays the guild's settings for DisCal (like prefix)</td>
						</tr>
						<!--Start discal prefix command-->
						<tr>
							<td>!discal prefix</td>
							<td>!discal prefix [prefix]</td>
							<td>!discal prefix $$</td>
							<td>Changes DisCal's prefix.<strong>Mentioning DisCal will always work
								no matter the prefix</strong>
							</td>
						</tr>
						<!--Start discal role command-->
						<tr>
							<td>!discal role</td>
							<td>!discal role [role-name]</td>
							<td>!discal role controllers</td>
							<td>Sets the role (or higher) users must have in order to use certain
								DisCal commands. <strong>Reset with "!discal role everyone"</strong>
							</td>
						</tr>
						<!--Start discal channel command-->
						<tr>
							<td>!discal channel</td>
							<td>!discal channel [channel-name]</td>
							<td>!discal channel discal-control</td>
							<td>Sets the channel DisCal can respond in.
								<strong>Reset with "!discal channel all"</strong>
							</td>
						</tr>
						<!--Start discal simpleAnnouncement command-->
						<tr>
							<td>!discal simpleAnnouncement</td>
							<td>!discal simpleAnnouncement</td>
							<td>!discal simpleAnnouncement</td>
							<td>Makes announcements appear more user friendly</td>
						</tr>
						<!--Start discal brand command-->
						<tr>
							<td>!discal brand</td>
							<td>!discal brand</td>
							<td>!discal brand</td>
							<td>Uses the guild's name in DisCal embeds.
								<strong>Patron only!</strong>
							</td>
						</tr>
						<!--Start discal lang command-->
						<tr>
							<td>!discal lang</td>
							<td>!discal lang [language]</td>
							<td>!discal lang english</td>
							<td>Set's DisCal's language</td>
						</tr>
						<!--Start discal invite command-->
						<tr>
							<td>!discal invite</td>
							<td>!discal invite</td>
							<td>!discal invite</td>
							<td>Displays the invite link to DisCal's Support Guild.</td>
						</tr>
						<!--Start discal dashboard command-->
						<tr>
							<td>!discal dashboard</td>
							<td>!discal dashboard</td>
							<td>!discal dashboard</td>
							<td>Displays the link to the Control dashboard on DisCal's website.</td>
						</tr>
						</tbody>
					</table>

				</div>
				<!--End discal command-->

				<hr>

				<!-- Start other commands-->
				<div id="other">
					<h2 class="text-center text-discal-blue">All Other Commands</h2>

					<table style="border-color: #bcbcbc"
						   border="#bcbcbc" cellpadding="4" cellspacing="0">
						<tbody>
						<tr>
							<th>Command</th>
							<th>Acceptable Arguments</th>
							<th>Example</th>
							<th>Description</th>
						</tr>
						<!--Start linkCal command-->
						<tr>
							<td>!linkCal</td>
							<td>!linkCal</td>
							<td>!linkCal</td>
							<td>Displays the server's calendar info AND provides a link to
								view in browser
							</td>
						</tr>
						<!--Start time command-->
						<tr>
							<td>!time</td>
							<td>!time</td>
							<td>!time</td>
							<td>Displays the current time of the calendar in the
								calendar's timezone
							</td>
						</tr>
						<!--Start events command-->
						<tr>
							<td>!events</td>
							<td>!events (amount)</td>
							<td>!events 2</td>
                            <td>Displays up to the specified amount of upcoming events</td>
                        </tr>
                        <!--Start help command-->
                        <tr>
                            <td>!help</td>
                            <td>!help (command) (sub-command)</td>
                            <td>!help event create</td>
                            <td>Displays help information for the specified
                                commands/sub commands
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
                <!-- End other commands-->

            </div>
            <!-- /.container-fluid -->

            <!--Snackbar for notification popup-->
            <div id="snackbar"></div>
        </div>
		<!-- End of Main Content -->

		<!-- Footer -->
		<footer class="sticky-footer bg-discal-blue">
            <div class="container my-auto">
                <div class="copyright text-center text-discord-full-white my-auto">
                    <span th:text="'&copy; ' + ${year} + ' DreamExposure Studios'"></span>
                    <span> | </span>
                    <a href="/policy/privacy">Privacy</a>
                    <span> | </span>
                    <a href="/policy/tos">Terms</a>
                    <span> | </span>
                    <a href="/docs/api/overview">API</a>
                    <span> | </span>
                    <a href="https://www.dreamexposure.org">DreamExposure</a>
                    <span> | </span>
                    <span>DisCal is not endorsed or supported by Discord</span>
                </div>
            </div>
		</footer>
		<!-- End of Footer -->

	</div>
	<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
	<i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog"
	 aria-labelledby="exampleModalLabel"
	 aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
				<button class="close" type="button" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body">Select "Logout" below if you are ready to end your current
				session.
			</div>
			<div class="modal-footer">
				<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
				<a class="btn btn-primary" href="/logout">Logout</a>
			</div>
		</div>
	</div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/assets/js/bundle.js"></script>

</body>

</html>
