<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

	<!--Meta Stuffs-->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="The Ultimate Discord Calendar Bot">

	<meta property="og:title" content="DisCal"/>
	<meta property="og:url" content="https://www.discalbot.com"/>
	<meta property="og:description" content="The Ultimate Discord Calendar Bot"/>
	<meta property="og:image" content="/assets/images/logos/Dark/Opaque/Logo%20Dark%20+bg.png">

	<!-- ****** faviconit.com favicons ****** -->
	<link rel="shortcut icon" href="/assets/img/favicon/favicon.ico">
	<link rel="icon" sizes="16x16 32x32 64x64" href="/assets/img/favicon.ico">
	<link rel="icon" type="image/png" sizes="196x196" href="/assets/img/favicon/favicon-192.png">
	<link rel="icon" type="image/png" sizes="160x160" href="/assets/img/favicon/favicon-160.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/assets/img/favicon/favicon-96.png">
	<link rel="icon" type="image/png" sizes="64x64" href="/assets/img/favicon/favicon-64.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/favicon-32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16.png">
	<link rel="apple-touch-icon" href="/assets/img/favicon/favicon-57.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/assets/img/favicon/favicon-114.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/assets/img/favicon/favicon-72.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/assets/img/favicon/favicon-144.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/assets/img/favicon/favicon-60.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/assets/img/favicon/favicon-120.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/assets/img/favicon/favicon-76.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/assets/img/favicon/favicon-152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicon/favicon-180.png">
	<meta name="msapplication-TileColor" content="#FFFFFF">
	<meta name="msapplication-TileImage" content="/assets/img/favicon/favicon-144.png">
	<meta name="msapplication-config" content="/assets/img/favicon/browserconfig.xml">
	<!-- ****** faviconit.com favicons ****** -->

	<title>DisCal - Setup</title>

	<!-- Custom fonts for this template-->
	<link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
	<link
		href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
		rel="stylesheet">

	<!-- Custom styles for this template-->
	<link href="/assets/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

	<!-- Sidebar -->
	<ul class="navbar-nav bg-gradient-discal-dark-gray sidebar sidebar-dark accordion"
		id="accordionSidebar">

		<!-- Sidebar - Brand -->
		<a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
			<div class="sidebar-brand-icon rotate-n-15">
				<i class="fas fa-calendar"></i>
			</div>
			<div class="sidebar-brand-text mx-3">DISCAL</div>
		</a>

		<!-- Divider -->
		<hr class="sidebar-divider my-0">

		<!-- Nav Item - About -->
		<li class="nav-item">
			<a class="nav-link" href="/about">
				<i class="fas fa-fw fa-info-circle"></i>
				<span>About</span></a>
		</li>

		<!-- Nav Item - Commands -->
		<li class="nav-item">
			<a class="nav-link" href="/commands">
				<i class="fas fa-fw fa-terminal"></i>
				<span>Commands</span></a>
		</li>

		<!-- Nav Item - Setup -->
		<li class="nav-item active">
			<a class="nav-link" href="/setup">
				<i class="fas fa-fw fa-cog"></i>
				<span>Setup</span></a>
		</li>

		<!-- Nav Item - Lazy DisCal -->
		<li class="nav-item">
			<a class="nav-link" href="/lazy-discal">
				<i class="fas fa-fw fa-magic"></i>
				<span>Lazy DisCal</span></a>
		</li>

		<!-- Nav Item - Status -->
		<li class="nav-item">
			<a class="nav-link" href="/status">
				<i class="fas fa-fw fa-info-circle"></i>
				<span>Status</span></a>
		</li>

		<!-- Nav Item - Dashboard -->
		<li class="nav-item">
			<a class="nav-link" href="/dashboard">
				<i class="fas fa-fw fa-tachometer-alt"></i>
				<span>Dashboard</span></a>
		</li>

		<!-- Divider -->
		<hr class="sidebar-divider">

		<!-- Guilds list (only displayed if logged in) -->
		<div th:if="${logged_in}">
			<!-- Heading     -->
			<div class="sidebar-heading">
				Guilds
			</div>

			<!-- Start Nav Item - Guild Container -->
			<th:block th:each="guild : ${guilds}">
				<div class="nav-item">
					<a class="nav-link" th:href="'/dashboard/' + ${guild.id}">
						<i class="fas fa-fw fa-chart-area"></i>
						<span th:text="${guild.name}"></span>
					</a>
				</div>
			</th:block>
			<!-- End Nav Item - Guild Container -->

			<!-- Divider -->
			<hr class="sidebar-divider d-none d-md-block">
		</div>
		<!-- End Guilds list -->

		<!-- Sidebar Toggler (Sidebar) -->
		<div class="text-center d-none d-md-inline">
			<button class="rounded-circle border-0" id="sidebarToggle"></button>
		</div>

	</ul>
	<!-- End of Sidebar -->

	<!-- Content Wrapper -->
	<div id="content-wrapper" class="d-flex flex-column bg-discal-not-black">

		<!-- Main Content -->
		<div id="content">

			<!-- Topbar -->
			<nav
				class="navbar navbar-expand navbar-dark bg-discal-blue topbar mb-4 static-top shadow">

				<!-- Sidebar Toggle (Topbar) -->
				<button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
					<i class="fa fa-bars text-discord-full-white"></i>
				</button>

				<!-- Topbar Navbar -->
				<ul class="navbar-nav ml-auto">

					<!-- Nav Item - Support Link -->
					<li class="nav-item">
						<a class="nav-link text-discord-full-white" th:href="${support_invite}"
						   target="_blank">
							<i class="fas fa-question-circle fa-sm fa-fw mr-2"></i>
							Support
						</a>
					</li>

					<!-- Nav Item - Patreon Link -->
					<li class="nav-item">
						<a class="nav-link text-discord-full-white"
						   href="https://www.patreon.com/Novafox" target="_blank">
							<i class="fab fa-patreon fa-sm fa-fw mr-2"></i>
							Patreon
						</a>
					</li>

					<!-- Nav Item - Invite Link -->
					<li class="nav-item">
						<a class="nav-link text-discord-full-white" th:href="${bot_invite}"
						   target="_blank">
							<i class="fas fa-envelope-open-text fa-sm fa-fw mr-2"></i>
							Invite
						</a>
					</li>

					<div class="topbar-divider d-none d-sm-block"></div>

					<!-- Nav Item - User Information -->
					<li th:if="${logged_in}" class="nav-item dropdown no-arrow">
						<a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
						   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<span class="mr-2 d-lg-inline  small" th:text="${username}"></span>
							<img class="img-profile rounded-circle" th:src="${pfp}"
								 alt="pfp">
						</a>
						<!-- Dropdown - User Information -->
						<div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
							 aria-labelledby="userDropdown">
							<a class="dropdown-item text-discord-full-white" href="#"
							   data-toggle="modal" data-target="#logoutModal">
								<i class="fas fa-sign-out-alt fa-sm fa-fw mr-2"></i>
								Logout
							</a>
						</div>
					</li>
					<li th:unless="${logged_in}" class="nav-item">
						<a class="nav-link text-discord-full-white" href="/login">
							<i class="fas fa-sign-in-alt fa-sm fa-fw mr-2"></i>
							Login
						</a>
					</li>

				</ul>

			</nav>
			<!-- End of Topbar -->

			<!-- Begin Page Content -->
			<div class="container-fluid">
				<h1 class="text-center text-discal-blue">DisCal - Setup</h1>

				<p class="text-center text-discord-full-white">
					The following page is a step by step instruction for how to properly
					setup DisCal.
					<br>
					<br>
					It's quite simple, but you must create a new calendar in order for
					DisCal to function fully.
				</p>

				<!--Start step one, invite-->
				<div id="invite">
					<h3 class="text-center text-discal-blue">1. Add DisCal to your Discord
						server</h3>

					<div class="image-wrapper" style="float: left">
						<img src="/assets/img/examples/DisCal-Invite-Perms.jpg"
							 style="max-width: 300px; max-height: 300px;"
							 alt="DisCal Invite Permissions Screenshot">
					</div>

					<p class="text-center text-discord-full-white">
						<strong>Skip this step if you have just added DisCal to your
							server.</strong>
						<br>
						<br>
						<br>
						Click the button below to authorize DisCal and select the server you want it
						on.
						<br>
						<br>
						<br>
						<br>
						You must have the "Manage Server" permission to add the bot. Contact the
						server owner or admin to invite DisCal if you cannot.
						<br>
						<br>
						<br>
					</p>

					<a class="bg-discord-blurple btn btn-discord btn-user btn-block text-discord-full-white"
					   style="margin: 0 auto; max-width: 200px"
					   target="_blank"
					   th:href="${inviteUrl}">
						Add To Discal to Server
					</a>

				</div>
				<!--End Step one-->

				<hr>

				<!--Start step two, role-->
				<div id="role">
					<div class="image-wrapper" style="float: left">
						<img src="/assets/img/examples/DisCal-Role-Perms.jpg"
							 style="max-width: 300px; max-height: 300px;"
							 alt="Discal Role Permissions Screenshot">
					</div>

					<h3 class="text-center text-discal-blue">
						2. Give DisCal permissions at server level and not at channel level
						(channel permissions don't always work right)
					</h3>

					<p class="text-center text-discord-full-white">
						If you have a Bot permission group, assign DisCal that permission.
						<br>
						<br>
						If not, create a new permission role with the following permissions so that
						DisCal may read and send messages based on its commands:
						<br>
						<br>
						- Read Messages*
						<br>
						- Send Messages
						<br>
						- Embed Links
						<br>
						- Mention Everyone
						<br>
						- Manager Messages
						<br>
						- Reactions/External Emojis
						<br>
						<br>
						<br>
						* DisCal will not log or save any messages.
						<br>
						<br>
					</p>
				</div>
				<!--End Step two-->

				<hr>

				<!--Start step three, calendar-->
				<div id="calendar">
					<div class="image-wrapper" style="float: left">
						<img src="/assets/img/examples/DisCal-Calendar-Creation.jpg"
							 style="max-width: 300px; max-height: 300px;"
							 alt="DisCal Calendar Creation Screenshot">
					</div>

					<h3 class="text-center text-discal-blue">3. Create a Calendar for your
						Discord</h3>

					<p class="text-center text-discord-full-white">
						DisCal currently only allows 1 calendar per server.
						Use the command "!calendar create [calendar name]" in any channel.
						(You can create a special channel just for DisCal commands if you want.)
						<br>
						<br>
						Once that command is issued, DisCal will handle the rest and walk you
						through a step by step guide into creating your new calendar!
						<br>
						<br>
						Optionally you may attach an external calendar. (This feature is currently
						in open testing for Patreon supporters.
						Visit our Discord server for more information.)
						<br>
						<br>
						<br>
						For all information on existing commands as well as some tutorial .gifs,
						click the button below.
					</p>

					<a class="bg-discord-blurple btn btn-discord btn-user btn-block text-discord-full-white"
					   style="margin: 0 auto; max-width: 200px"
					   href="/commands">
						View Commands
					</a>
				</div>
				<!--End step three-->

				<br>
				<br>
				<br>
			</div>
			<!-- /.container-fluid -->

		</div>
		<!-- End of Main Content -->

		<!-- Footer -->
		<footer class="sticky-footer bg-discal-blue">
			<div class="container my-auto">
				<div class="copyright text-center text-discord-full-white my-auto">
					<span th:text="'&copy; DreamExposure ' + ${year} + '. LGPL-3.'"></span>
				</div>
			</div>
		</footer>
		<!-- End of Footer -->

	</div>
	<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
	<i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog"
	 aria-labelledby="exampleModalLabel"
	 aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
				<button class="close" type="button" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body">Select "Logout" below if you are ready to end your current
				session.
			</div>
			<div class="modal-footer">
				<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
				<a class="btn btn-primary" href="/logout">Logout</a>
			</div>
		</div>
	</div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/assets/js/sb-admin-2.min.js"></script>

</body>

</html>
