<!DOCTYPE html>
<!--suppress HtmlUnknownTarget -->
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
	<head>
		<!--Meta stuffs-->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="DisCal is a bot that implements Google Calendar seamlessly into Discord">
		<meta property="og:title" content="DisCal Bot"/>
		<meta property="og:url" content="https://discalbot.com"/>
		<meta property="og:description"
		      content="DisCal is a bot that implements Google Calendar seamlessly into Discord"/>
		<!--meta property="og:image" content="I WILL PUT THE LOGO IN WHEN I MAKE IT SMALL"/-->
		<title>Dashboard - DisCal</title>

		<!--Locally hosted-->
		<link href="/styles/global.css" rel="stylesheet">
		<link href="/styles/fix.css" rel="stylesheet">
	</head>

	<body>
		<div class="top-nav">
			<a href="/" class="title"><h1>DISCAL</h1></a>
			<a href="/about">About</a>
			<a href="/commands">Commands</a>
			<a href="/setup">Setup</a>
			<a href="/lazy-discal">Lazy DisCal</a>
			<a class="active" href="/dashboard">Dashboard</a>
			<a href="https://discord.gg/AmAMGeN" target="_blank">Support</a>
			<a href="https://www.patreon.com/Novafox" target="_blank">Patreon</a>

			<a class="account" th:if="${loggedIn}" href="/account/logout">Log out</a>
			<a class="account" th:unless="${loggedIn}"
			   th:href="'https://discordapp.com/oauth2/authorize?client_id=' + ${client} + '&scope=guilds+identify&permissions=0&response_type=code&redirect_uri=' + ${redirUri}">Log
				In</a>
		</div>

		<div id="content">
			<!--Check if logged in, if not, handle login...-->
			<div th:if="${loggedIn}">
				<div id="side-nav">
					<h4>Main Settings</h4>
					<form method="post" action="/api/v1/dashboard/select/settings">
						<input type="hidden" name="settings" value="bot">
						<button type="submit">Bot Settings</button>
					</form>
					<br>
					<form method="post" action="/api/v1/dashboard/select/settings">
						<input type="hidden" name="settings" value="guild">
						<button type="submit">Guild Settings</button>
					</form>
					<hr>
					<h4>Components</h4>
					<form method="post" action="/api/v1/dashboard/select/settings">
						<input type="hidden" name="settings" value="calendar">
						<button type="submit">Calendar</button>
					</form>
					<br>
					<form method="post" action="/api/v1/dashboard/select/settings">
						<input type="hidden" name="settings" value="events">
						<button type="submit">Events</button>
					</form>
					<br>
					<form method="post" action="/api/v1/dashboard/select/settings">
						<input type="hidden" name="settings" value="announcements">
						<button type="submit">Announcements</button>
					</form>
					<br>
					<form method="post" action="/api/v1/dashboard/select/settings">
						<input type="hidden" name="settings" value="rsvp">
						<button type="submit">RSVPs</button>
					</form>
				</div>
				<div style="display: flow-root">
					<img th:src="${selected.icon}"
					     style="display: flex;float: left;max-width: 64px;margin-right: 15px;">
					<h3 th:text="'Managing Server: ' + ${selected.name}" style="text-align: left;"></h3>
					<hr>
					<p th:if="${settings} == null">Please select the settings to edit on the left.</p>
					<div th:if="${settings} != null">
						<!--RSVP Settings-->
						<div th:if="${settings} == rsvp">
							<h6>RSVP Settings</h6>
							<br>
							<p>
								It's a work in progress. Soon you will be able to control RSVPs from here!!
							</p>
						</div>
					</div>
				</div>
			</div>
			<div th:unless="${loggedIn}">
				<h1>YOU ARE NOT LOGGED IN!</h1>
				<p>Please login to continue.</p>
			</div>
		</div>
	</body>

	<footer id="footer">
		<p><span th:text="'© Nova Maday ' + ${year} + ' All rights reserved.'"></span><span> - </span><a
				href="/policy/privacy">Privacy
			Policy</a><span> - </span><a href="/docs/api/overview">Developer API</a></p>
	</footer>
</html>