<!DOCTYPE HTML>
<!--suppress HtmlUnknownTarget -->
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<!--Meta stuffs-->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="DisCal is a bot that implements Google Calendar seamlessly into Discord">
		<meta property="og:title" content="DisCal Bot"/>
		<meta property="og:url" content="https://discalbot.com"/>
		<meta property="og:description"
		      content="DisCal is a bot that implements Google Calendar seamlessly into Discord"/>
		<meta property="og:image" content="/assets/images/logos/Dark/Opaque/Logo%20Dark%20+bg.png">

		<!-- ****** faviconit.com favicons ****** -->
		<link rel="shortcut icon" href="/assets/images/favicon/favicon.ico">
		<link rel="icon" sizes="16x16 32x32 64x64" href="/assets/images/favicon.ico">
		<link rel="icon" type="image/png" sizes="196x196" href="/assets/images/favicon/favicon-192.png">
		<link rel="icon" type="image/png" sizes="160x160" href="/assets/images/favicon/favicon-160.png">
		<link rel="icon" type="image/png" sizes="96x96" href="/assets/images/favicon/favicon-96.png">
		<link rel="icon" type="image/png" sizes="64x64" href="/assets/images/favicon/favicon-64.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon/favicon-32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon/favicon-16.png">
		<link rel="apple-touch-icon" href="/assets/images/favicon/favicon-57.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/assets/images/favicon/favicon-114.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/assets/images/favicon/favicon-72.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/assets/images/favicon/favicon-144.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/assets/images/favicon/favicon-60.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/assets/images/favicon/favicon-120.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/assets/images/favicon/favicon-76.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/assets/images/favicon/favicon-152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/favicon-180.png">
		<meta name="msapplication-TileColor" content="#FFFFFF">
		<meta name="msapplication-TileImage" content="/assets/images/favicon/favicon-144.png">
		<meta name="msapplication-config" content="/assets/images/favicon/browserconfig.xml">
		<!-- ****** faviconit.com favicons ****** -->
		<title>Terms of Service - DisCal</title>

		<!--Locally hosted-->
		<link href="/styles/global.css" rel="stylesheet">
	</head>

	<body>
		<div class="top-nav">
			<a href="/" class="title"><h1>DISCAL</h1></a>
			<a href="/about">About</a>
			<a href="/commands">Commands</a>
			<a href="/setup">Setup</a>
			<a href="/lazy-discal">Lazy DisCal</a>
			<a href="/dashboard">Dashboard</a>
			<a href="https://discord.gg/2TFqyuy" target="_blank">Support</a>
			<a href="https://www.patreon.com/Novafox" target="_blank">Patreon</a>

			<a class="account" th:if="${loggedIn}" href="/account/logout">Log out</a>
			<a class="account" th:unless="${loggedIn}"
			   th:href="'https://discordapp.com/oauth2/authorize?client_id=' + ${client} + '&scope=guilds+identify&permissions=0&response_type=code&redirect_uri=' + ${redirUri}">Log
				In</a>
		</div>

		<div id="content">
			<h1>Terms of Service</h1>
			<p>
				DisCal's development team and parent, DreamExposure, puts user privacy, safety, and comfort above all
				else.
				<br>
				In using DisCal, directly or indirectly, the user agrees to the following points.
			</p>
			<h3>Definitions</h3>
			<p>
				"Users" refers to any individual that directly utilizes DisCal. Either via the official website,
				https://www.discalbot.com, command interaction with DisCal via Discord, and/or any form of communication
				whereas the user talks/texts to the DisCal bot.
				<br>
				"Us/We" refers to DreamExposure, the group that develops and maintains DisCal. DreamExposure is
				comprised of multiple members who program the bot, aid users with support and help in regards to the
				DisCal bot and/or DisCal website
				<br>
				"Data" refers to any user entered information provided to DisCal. This information includes dates/times,
				timezones, locations, event details, Discord user information, and other public data.
			</p>
			<h3>Agreements</h3>
			<p>
				We prioritize privacy and security, therefore the servers and systems that DreamExposure manages
				relating to DisCal are kept encrypted behind firewalls. Regular virus scans are conducted to ensure the
				system is not compromised.
				<br>
				Data entered into the DisCal system is kept on an encrypted drive. This data is not accessible by anyone
				but the user directly entering the information, and the users in the Discord Server that the user is in.
				<br>
				Users, whether using DisCal directly or indirectly will not attempt to bypass or otherwise compromise
				DreamExposure's servers, systems, or products. Any attempt to render DreamExposure undue harm can result
				in legal action.
				<br>
				DisCal provides the ability to attach images to calendar events. These images are not stored or hosted
				on DreamExposure systems. DreamExposure is not liable and does not allow for any illegal content
				submitted by the user, including but not limited to proof of drug use, child pornography, etc. Should
				DreamExposure find this content, the user will can and will be reported to the appropriate authorities.
				<br>
				Users are directly liable, legal or otherwise, for all content and data entered into DisCal.
				<br>
				DisCal utilizes the Google Calendar APIs and Discord APIs. DisCal is simply a bridge between the two. By
				using DisCal the user also agrees to the Google Terms or Service and Discord Terms of Service.
				<br>
				DreamExposure reserves the right to revoke access to DisCal if a user attempts to break the above Terms
				of Service.
			</p>
			<br>
			<br>
			<br>
			<p>
				Last edited: August 29, 2018.
			</p>
		</div>
	</body>

	<footer id="footer">
		<p>
			<span th:text="'© DreamExposure ' + ${year} + '. All rights reserved.'"></span>
			<span> | </span>
			<a href="/policy/privacy">Privacy Policy</a>
			<span> | </span>
			<a href="/policy/tos">Terms of Service</a>
			<span> | </span>
			<a href="/docs/api/overview">Developer API</a>
			<span> | </span>
			<a href="https://www.dreamexposure.org">Powered By DreamExposure</a>
			<span> | </span>
			<span>DisCal is not endorsed or supported by Discord</span>
		</p>
	</footer>
</html>